In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('attacks.csv', encoding= "ISO-8859-1")

In [3]:
data.shape

(25723, 24)

In [4]:
#After a look at the data, it contains many empty lines. Let's drop the duplicates
data = data.drop_duplicates()
data.shape

(6312, 24)

In [5]:
#let's 
data.reset_index(inplace=True, drop=True)
data.columns = [e.lower().replace('/','_').replace(')','_').replace('(','_').replace(' ','').replace(':','') for e in data.columns]
data.casenumber.unique

<bound method Series.unique of 0       2018.06.25
1       2018.06.18
2       2018.06.09
3       2018.06.08
4       2018.06.04
           ...
6307             0
6308             0
6309             0
6310           NaN
6311            xx
Name: casenumber, Length: 6312, dtype: object>

In [6]:
data.tail()

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n_,time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed22,unnamed23
6307,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0,NaN,NaN
6308,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0,NaN,NaN
6309,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6311,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
data.isnull().sum(axis=0)

casenumber                 2
date                      10
year                      12
type                      14
country                   60
area                     465
location                 550
activity                 554
name                     220
sex                      575
age                     2841
injury                    38
fatal_y_n_               549
time                    3364
species                 2848
investigatororsource      27
pdf                       10
hrefformula               11
href                      10
casenumber.1              10
casenumber.2              10
originalorder              3
unnamed22               6311
unnamed23               6310
dtype: int64

*Removing NaN from Case Number*

In [8]:
Nas = data.casenumber.isnull()[data.casenumber.isnull()==True]
Nas = [5488, 6310]

In [9]:
data.iloc[Nas]

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n_,time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed22,unnamed23
5488,NaN,Reported 06-Sep-1905,1905.0,Provoked,USA,Florida,"Fort Pierce, St Lucie County",Fishing,David Curry,M,NaN,Lacerations to leg from hooked shark PROVOKED ...,N,NaN,NaN,"Muncie Evening Press, 8/6/1913",1905.09.06.R-Curry.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1905.09.06.R,1905.09.06.R,815.0,NaN,NaN
6310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
data.casenumber[Nas[0]] = '06-Sep-1905'

In [11]:
data.drop([Nas[1]], axis = 0, inplace=True)
data.iloc[Nas]

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n_,time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed22,unnamed23
5488,06-Sep-1905,Reported 06-Sep-1905,1905.0,Provoked,USA,Florida,"Fort Pierce, St Lucie County",Fishing,David Curry,M,NaN,Lacerations to leg from hooked shark PROVOKED ...,N,NaN,NaN,"Muncie Evening Press, 8/6/1913",1905.09.06.R-Curry.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1905.09.06.R,1905.09.06.R,815.0,NaN,NaN
6311,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
ind = data.casenumber[data.casenumber=='xx'].index[0]

In [13]:
data.drop(ind, axis = 0, inplace=True)

In [14]:
data.tail()

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n_,time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed22,unnamed23
6305,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6307.0,NaN,NaN
6306,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6308.0,NaN,NaN
6307,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0,NaN,NaN
6308,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0,NaN,NaN
6309,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
data.casenumber.isnull().sum()

0

In [16]:
cn_na = data.casenumber[data.casenumber=='0'].index
data.iloc[cn_na]
#Selecting lines with casenumber = 0 as those have NaN in the rest of the columns

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n_,time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed22,unnamed23
6302,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6304.0,NaN,NaN
6303,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6305.0,NaN,NaN
6304,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6306.0,NaN,NaN
6305,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6307.0,NaN,NaN
6306,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6308.0,NaN,NaN
6307,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0,NaN,NaN
6308,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0,NaN,NaN
6309,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
data.drop(cn_na, inplace = True)
#Removing those lines

In [18]:
data.date.isnull().sum()
#Checking if in Date there are NaN: result, there none.

0

*Removing NaN from year*

In [19]:
data.year.isnull().sum()
#Checking if in Year there are NaN: result, Yep.

2

In [20]:
year_na = data.year[data.year.isnull()==True].index
data.iloc[year_na]

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n_,time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed22,unnamed23
187,2017.01.08.R,Reported 08-Jan-2017,NaN,Invalid,AUSTRALIA,Queensland,NaN,Spearfishing,Kerry Daniel,M,35,"No attack, shark made a threat display",NaN,NaN,Bull shark,Liquid Vision 1/8/2017,2017.01.08.R-KerryDaniel.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.01.08.R,2017.01.08.R,6116.0,NaN,NaN
6079,1836.08.19.R,Reported 19-Aug-1836,NaN,Unprovoked,ENGLAND,Cumberland,Whitehaven,Swimming,a boy,M,NaN,FATAL,Y,NaN,NaN,"C. Moore, GSAF",1835.08.19.R-Whitehaven.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1836.08.19.R,1836.08.19.R,224.0,NaN,NaN

In [21]:
data.year.iloc[year_na[0]] = 2017
data.year.iloc[year_na[1]] = 1836
#Changing the date year based on the date in column "date"

*Removing NaN from type*

In [22]:
data.type.isnull().sum()
#Checking if in Type there are NaN. result: Yep.

4

In [23]:
type_na = data.type[data.type.isnull()==True].index
data.iloc[type_na]
#Analysing the ranges with NAN in types

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n_,time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed22,unnamed23
85,2017.09.15.a,15-Sep-2017,2017.0,NaN,SAMOA,Upolu Island,Nofoalii,Fishing,male,M,NaN,Injuries to hands and legs,N,Night,NaN,"Samoa Observer, 9/16/2017",2017.09.15.a-Samoa.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.09.15.a,2017.09.15.a,6218.0,NaN,NaN
382,2015.07.27,27-Jul-2015,2015.0,NaN,AUSTRALIA,Victoria,Tyrendarra Beach,Surfing,male,M,40,Injury to hand,NaN,NaN,NaN,NaN,2015.07.27-Victoria.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.07.27,2015.07.27,5921.0,NaN,NaN
4867,1936.09.11.R,Reported 11-Sep-1936,1936.0,NaN,VIETNAM,NaN,Saigon,Wreck of a sampam,8 crew,M,NaN,FATAL,Y,NaN,NaN,"Lansing State Journal, 9/11/1936",1936.09.11-Saigon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1936.09.11.R,1936.09.11.R,1436.0,NaN,NaN
5705,1890.03.03.R,Reported 03-Mar-1890,1890.0,NaN,CEYLON,NaN,NaN,Diving,a pearl diver,M,NaN,FATAL,Y,NaN,NaN,"The Guardian, 3/3/1890",1890.03.03.R-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1890.03.03.R,1890.03.03.R,598.0,NaN,NaN

In [24]:
#In order to remove the NAN in this column type, based on my investigation, I will replace them by "Questionable" we can't be sure of the origine of the accident.
data.type.fillna(value='Questionable',inplace=True)

In [25]:
#Chekcing that it worked
data.type.iloc[type_na]

85      Questionable
382     Questionable
4867    Questionable
5705    Questionable
Name: type, dtype: object

*Removing NaN from country*

In [26]:
data.country.isnull().sum()
#Checking if in Type there are NaN. result: Yep.

50

In [27]:
country_na = data.country[data.country.isnull()==True].index
data.iloc[country_na]
#looking at the data

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n_,time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed22,unnamed23
62,2017.11.13.R,Reported 13-Nov-2017,2017.0,Unprovoked,NaN,NaN,NaN,Surfing,Timur Yunusov,M,24,Puncture wounds to feet,N,NaN,NaN,Instagram,2017.11.13.R-Timur.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.11.13.R,2017.11.13.R,6241.0,NaN,NaN
525,2014.08.00,Aug-2014,2014.0,Invalid,NaN,NaN,NaN,Sea disaster,Cuban refugees,M,NaN,Shark involvement prior to death not confirmed,NaN,NaN,Shark involvement not confirmed,"Associated Press, 11/27/2014",2014.08.00-Cuban-refugees.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.08.00,2014.08.00,5778.0,NaN,NaN
2956,1983.00.00.d,Ca. 1983,1983.0,Unprovoked,NaN,English Channel,NaN,Swimming,Padma Shri Taranath Narayan Shenoy,M,NaN,Left leg bitten,N,NaN,NaN,"Times of India, 2/5/2012",1983.00.00.d-Shenoy.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1983.00.00.d,1983.00.00.d,3347.0,NaN,NaN
3378,1970.11.00,Nov-1970,1970.0,Unprovoked,NaN,NaN,NaN,NaN,Heinz Plotsky,M,NaN,Extensive injuries,N,NaN,NaN,"H.D. Baldridge (1994), SAF Case #1645",1970.11.00-NV-Plotsky.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.11.00,1970.11.00,2925.0,NaN,NaN
3387,1970.08.02,02-Aug-1970,1970.0,Invalid,NaN,Caribbean Sea,Between St. Kitts & Nevis,Sea Disaster Sinking of ferryboat Christina,NaN,NaN,NaN,"Sharks scavenged on bodies, but no record of t...",NaN,Afternoon,Shark involvement prior to death was not confi...,"Rome News Tribune, 8/3/1970",1970.08.02-Christina-ferryboat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.08.02,1970.08.02,2916.0,NaN,NaN
3388,1970.07.05,5-Jul-1970,1970.0,Unprovoked,NaN,NaN,NaN,NaN,male,M,NaN,Finger or toe severed,N,Night,Mako shark,"H.D. Baldridge (1994), SAF Case #1628",1970.07.05-NV-male.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.07.05,1970.07.05,2915.0,NaN,NaN
3395,1970.04.00.b,Apr-1970,1970.0,Provoked,NaN,NaN,NaN,Freediving,Lionel Jarvis,M,NaN,Arm abraded & lacerated. Recorded as PROVOKED ...,N,NaN,Wobbegong shark,"H.D. Baldridge (1994), SAF Case #1616",1970.04.00.b-NV-Jarvis.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.04.00.b,1970.04.00.b,2908.0,NaN,NaN
3399,1970.02.05,5-Feb-1970,1970.0,Unprovoked,NaN,NaN,NaN,Wading,Sally Anne Irvine,F,8,Lacerations to lower leg,N,NaN,Carpet shark,H.D. Baldridge (1994) SAF Case #1626,1970.02.05-NV-Irvine.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.02.05,1970.02.05,2904.0,NaN,NaN
3425,1969.08.00,Aug-1969,1969.0,Unprovoked,NaN,NaN,NaN,NaN,Rodney Hughes,M,25,Am lacerated,N,NaN,NaN,H.D. Baldridge (1994) SAF Case #1602,1969.08.00-NV-Hughes.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1969.08.00,1969.08.00,2878.0,NaN,NaN
3605,1965.10.21,21-Oct-1965,1965.0,Unprovoked,NaN,NaN,Florida Strait,The boat Caribou II sank,Mario Castellanos,M,39,Survived,N,NaN,NaN,"Lodi News Sentinel, 10/30/1965",1965.10.21-Castellanos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1965.10.21,1965.10.21,2698.0,NaN,NaN
3661,1964.09.27,27-Sep-1964,1964.0,Invalid,NaN,NaN,NaN,Spearfishing,Giancarlo Griffon,M,24,"Disappeared, probable drowning but sharks in a...",NaN,11h00,Shark involvement prior to death was not confi...,C. Moore. GSAF,1964.09.27-Griffon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1964.09.27,1964.09.27,2642.0,NaN,NaN
4018,1960.01.26,26-Jan-1960,1960.0,Sea Disaster,NaN,"Between Timor & Darwin, Australia",NaN,Portuguese Airliner with 9 people aboard went ...,NaN,NaN,NaN,"As searchers approached wreckage, sharks circl...",N,NaN,NaN,"V.M. Coppleson (1962), p.260",1960.01.26-Portuguese airliner.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1960.01.26,1960.01.26,2285.0,NaN,NaN
4231,1956.09.13,13-Sep-1956,1956.0,Unprovoked,NaN,Near the Andaman & Nicobar Islands,NaN,Climbing back on ship,male,M,NaN,FATAL,Y,P.M.,Blue shark,M. Hosina,1956.09.13-TunaBoat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1956.09.13,1956.09.13,2072.0,NaN,NaN
4266,1956.00.00.g,1956,1956.0,Sea Disaster,NaN,Between Comores & Madagascar,Geyser Bank,Shipwreck,"Captain Eric Hunt, the cook & a French passenger",M,NaN,FATAL,Y,NaN,NaN,dinofish.com,1956.00.00.g-Capt-Hunt.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1956.00.00.g,1956.00.00.g,2037.0,NaN,NaN
4498,1949.12.00.b,Dec-1949,1949.0,Sea Disaster,NaN,Caribbean Sea,Between Cuba & Costa Rica,"Sea Disaster, sinking of the motorship Wingate","Albert Battles, James Dean & 4 crew",M,NaN,Fatal or drowning or scavenging,Y,NaN,Shark involvement not confirmed,"Canberra Times, 1/6/1950",1949.12.00.b-Wingate.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1949.12.00.b,1949.12.00.b,1805.0,NaN,NaN
4639,1944.10.24,24-Oct-1944,1944.0,Sea Disaster,NaN,NaN,225 miles east of Hong Kong,Japanese POW ship Arisan Maru with 1800 Americ...,NaN,M,NaN,Most of the men drowned & some were taken by s...,Y,>17h30,NaN,internet (multiple),1944.10.24-ArisanMaru.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1944.10.24,1944.10.24,1664.0,NaN,NaN
4700,1942.11.00.a,Nov-1942,1942.0,Sea Disaster,NaN,Off South American coast,NaN,Dutch merchant ship Zaandam torpedoed by the ...,NaN,M,NaN,FATAL,Y,NaN,NaN,"M. Murphy; V.M. Coppleson (1962), pp.207-208",1942.11.00.a-Izzi.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1942.11.00.a,1942.11.00.a,1603.0,NaN,NaN
4712,1942.06.00,Jun-1942,1942.0,Unprovoked,NaN,300 miles east of St. Thomas (Virgin Islands),NaN,On life raft tethered to lifeboat. A seaman pu...,male,M,NaN,Forearm lacerated,N,NaN,NaN,"V.M. Coppleson (1962), p.258",1942.06.00-on-life-raft.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1942.06.00,1942.06.00,1591.0,NaN,NaN
4726,1942.00.00.e,1942,1942.0,Sea Disaster,NaN,NaN,NaN,Jumped overboard from torpedoed Panamanian fre...,male,M,NaN,FATAL,Y,NaN,NaN,"V.M. Coppleson (1962), p.258",1942.00.00.e-seaman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1942.00.00.e,1942.00.00.e,1577.0,NaN,NaN
4729,1942.00.00.b,1942,1942.0,Boating,NaN,NaN,NaN,"Days before the surrender of Singapore, the 3 ...","Bombardier J. Hall, Private Green of the Sherw...",M,NaN,No injury to occupants. Sharks continually fol...,N,NaN,NaN,"V.M. Coppleson (1962), p.206",1942.00.00.b-Hall-Green-Jennings.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1942.00.00.b,1942.00.00.b,1574.0,NaN,NaN
4911,1935.04.12.R,Reported 12-Apr-1935,1935.0,Unprovoked,NaN,NaN,NaN,Diving,Pearl Purdy Scott,F,NaN,Laceration to left leg,N,NaN,NaN,"Port Arthur News, 4/12/1935",1935.04.12.R-PearlPurdyScott.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1935.04.12.R,1935.04.12.R,1392.0,NaN,NaN
5020,1931.04.27.R,Reported 27-Apr-1931,1931.0,Unprovoked,NaN,French Southern Territories,Île Saint-Paul,"Fishing, boat capsized",Quillezic,M,NaN,FATAL,Y,NaN,NaN,"Los Angeles Times, 4/27/1931",1931.04.27.R-Quillezic.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1931.04.27.R,1931.04.27.R,1283.0,NaN,NaN
5060,1929.12.09.R,Reported 09-Dec-1929,1929.0,Unprovoked,NaN,NaN,NaN,NaN,Thomas Duggan,M,20,FATAL,Y,NaN,NaN,"The Age, 12/9/1929",1929.12.09.R-Duggan.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1929.12.09.R,1929.12.09.R,1243.0,NaN,NaN
5425,1909.01.17,17-Jan-1909,1909.0,Invalid,NaN,NaN,Near the equator,Jumped overboard,Thomas Butler,M,36,FATAL,NaN,NaN,Questionable,"Star, 3/18/1909",1909.01.17-Butler.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1909.01.17,1909.01.17,878.0,NaN,NaN
5586,1898.09.19.b.R,Reported 19-Sep-1898,1898.0,Unprovoked,NaN,NaN,NaN,Diving,Halletts,M,NaN,Lacerations to hand from shark trapped inside ...,N,NaN,NaN,"Lincoln Evening News & Daily Call, 9/19/1898",1898.09.19.b.R-Halletts.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1898.09.19.b.R,1898.09.19.b.R,717.0,NaN,NaN
5587,1898.09.19.a.R,Reported 19-Sep-1898,1898.0,Unprovoked,NaN,NaN,NaN,Diving,male,M,NaN,Lacerations to fingers,N,NaN,NaN,"Lincoln Evening News & Daily Call, 9/19/1898",1898.09.19.a.R.Sully.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1898.09.19.a.R,1898.09.19.a.R,716.0,NaN,NaN
5612,1897.03.15.b.R,Reported 15-Mar-1897,1897.0,Unprovoked,NaN,Mediterranean Sea,NaN,Swimming,male,M,NaN,FATAL,Y,NaN,NaN,"Daily Northwestern, 5/15/1897",1897.03.15.b.R-Mediterranean.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1897.03.15.b.R,1897.03.15.b.R,691.0,NaN,NaN
5636,1895.06.13.R,Reported 13-Jun-1895,1895.0,Unprovoked,NaN,NaN,NaN,Diving,Marsh,M,NaN,Right hand severed,N,NaN,NaN,"Lima Times, 6/13/1895",1895.06.13.R-EnglishDiver.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1895.06.13.R,1895.06.13.R,667.0,NaN,NaN
5742,1887.07.30,30-Jul-1887,1887.0,Sea Disaster,NaN,Gulf of California,NaN,"Sea disaster, wreck of the sloop Sara",2 males,M,NaN,FATAL,Y,NaN,NaN,"Austin Weekly Statesman, 8/11/1887",1887.07.30-TheSara.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1887.07.30,1887.07.30,561.0,NaN,NaN
5770,1885.04.16.R,Reported 16-Apr-1885,1885.0,Unprovoked,NaN,NaN,NaN,Swimming,2 males,M,NaN,FATAL,Y,NaN,NaN,"Gleaner (Jamaica), 4/16/1885",1885.04.16.R-GermanShip.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1885.04.16.R,1885.04.16.R,533.0,NaN,NaN
5808,1881.08.16.R,Reported 16-Aug-1881,1881.0,Unprovoked,NaN,Western Banks,NaN,"Floating, holding onto an oar after dory capsized",George Sedgwick,M,20,FATAL,Y,NaN,NaN,"Lewiston Evening Journal, 8/16/1881",1881.08.16.R-Sedgwick.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1881.08.16.R,1881.08.16.R,495.0,NaN,NaN
5810,1881.06.25,25-Jul-1881,1881.0,Unprovoked,NaN,NaN,Santa Cruz,Bathing,Father Hudson,M,NaN,Survived,N,NaN,NaN,"Grey River Argus,10/3/1881, p.2",1881.06.25-FatherHudson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1881.06.25,1881.06.25,493.0,NaN,NaN
5839,1878.10.13,13-Oct-1878,1878.0,Unprovoked,NaN,NaN,NaN,Jumped overboard after murdering 2 shipmates,Sherrington,M,NaN,FATAL,Y,NaN,NaN,The Maitland Mercury & Hunter River General Ad...,1878.10.13-Sherrington.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1878.10.13,1878.10.13,464.0,NaN,NaN
5885,1874.06.15.a.R,Reported 15-Jun-1874,1874.0,Unprovoked,NaN,NaN,NaN,Salvaging a shipwreck,male,M,NaN,Heel bitten,N,NaN,NaN,"Daily Southern Cross, 6/15/1874",1874.06.15.a.R-Achilles-tendon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1874.06.15.a.R,1874.06.15.a.R,418.0,NaN,NaN
5920,1869.04.10,10-Apr-1869,1869.0,Invalid,NaN,NaN,NaN,Fell overboard,Christian Frederick,M,NaN,FATAL,NaN,NaN,Shark involvement prior to death unconfirmed,"Nelson Examiner & New Zealand Chronicle, 4/24/...",1869.04.10-Frederick.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1869.04.10,1869.04.10,383.0,NaN,NaN
5996,1856.11.20.R,Reported 20-Nov-1856,1856.0,Unprovoked,NaN,NaN,NaN,Swimming,Cornelius Conhlren,M,22,FATAL,Y,NaN,NaN,"Pacific Commercial Advertiser, 11/20/1856",1856.11.20.R-Conhlren.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1856.11.20.R,1856.11.20.R,307.0,NaN,NaN
6001,1855.07.28,28-Jul-1855,1855.0,Unprovoked,NaN,NaN,NaN,Bathing,"a young boy, one of the crew of the Post Boy",M,NaN,FATAL,Y,NaN,NaN,"Maitland Mercury, 8/25/1855",1855.07.28-PostBoy-sailors.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1855.07.28,1855.07.28,302.0,NaN,NaN
6092,1830.04.22.R,Reported 22-Apr-1830,1830.0,Unprovoked,NaN,NaN,NaN,NaN,Jose,M,NaN,FATAL,Y,Night,NaN,"The Torchlight & Public Advertiser, 4/22/1830",1830.04.22.R-Jose.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1830.04.22.R,1830.04.22.R,211.0,NaN,NaN
6119,1811.03.01,01-Mar-1811,1811.0,Unprovoked,NaN,NaN,NaN,Fell overboard,John Walker,M,NaN,FATAL,Y,NaN,NaN,Journal of Captain Marryat,1811.03.01-John-Walker.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1811.03.01,1811.03.01,184.0,NaN,NaN
6131,1801.12.18.R,Reported 18-Dec-1801,1801.0,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,N,NaN,"FATAL, PROVOKED INCIDENT",Y,NaN,12' shark,"The Evening Post, 12/18/1801",1801.12.18.R-Pettigrew.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1801.12.18.R,1801.12.18.R,172.0,NaN,NaN
6133,1797.05.28.R,Reported May-28-1797,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,FATAL,Y,NaN,NaN,The Observer 5/28/1797,1797.05.28.R-Cloverdale.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1797.05.28.R,1797.05.28.R,170.0,NaN,NaN
6137,1787.07.05,05-Jul-1787,1787.0,Unprovoked,NaN,St Helena,Landing Place,Swimming,Private Isaac Hicksled,M,NaN,FATAL,Y,NaN,NaN,"H.R. Janisch (1885), Extracts from the St. Hel...",1787.07.05-Hicksled.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1787.07.05,1787.07.05,166.0,NaN,NaN
6155,1742.12.17,17-Dec-1742,1742.0,Unprovoked,NaN,NaN,Carlisle Bay,Swimming,2 impressed seamen,M,NaN,FATAL,Y,NaN,NaN,"C. Moore, GSAF",1742.12.17-AdviceSeamen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1742.12.17,1742.12.17,148.0,NaN,NaN
6165,1638.00.00.R,Reported 1638,1638.0,Unprovoked,NaN,NaN,NaN,NaN,sailors,M,NaN,NaN,UNKNOWN,NaN,NaN,Sir Thomas Herbert,1638.00.00.R-Herbert,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1638.00.00.R,1638.00.00.R,138.0,NaN,NaN
6171,1555.00.00,1555,1555.0,Unprovoked,NaN,NaN,NaN,Swimming,male,M,NaN,NaN,UNKNOWN,NaN,NaN,Olaus Magnus,1555.00.00 - Olaus Magnus.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1555.00.00,1555.00.00,132.0,NaN,NaN
6175,0077.00.00,77 A.D.,77.0,Unprovoked,NaN,Ionian Sea,NaN,Sponge diving,males,M,NaN,FATAL,Y,NaN,NaN,Perils mentioned by Pliny the Elder (23 A.D. t...,77AD-Pliny.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0077.00.00,0077.00.00,128.0,NaN,NaN
6177,0000.0214,Ca. 214 B.C.,0.0,Unprovoked,NaN,Ionian Sea,NaN,Ascending from a dive,"Tharsys, a sponge diver",M,NaN,"FATAL, shark/s bit him in two",Y,NaN,NaN,"Reported by Greek poet, Leonidas of Tarentum (...",214BC-Tharsys.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0000.0214,0000.0214,126.0,NaN,NaN
6199,ND-0124,Before 2011,0.0,Provoked,NaN,NaN,NaN,NaN,Phillip Peters,M,NaN,Bitten by captive sharks PROVOKED INCIDENTS,N,NaN,NaN,"Watertown Daily Times, 7/8/2011",ND-0124-Peters.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND-0124,ND-0124,104.0,NaN,NaN
6206,ND-0114,Before 2012,0.0,Unprovoked,NaN,NaN,In a river feeding into the Bay of Bengal,Netting shrimp,Sametra Mestri,F,NaN,Hand severed,N,NaN,NaN,National Georgraphic Television,ND-0114-BayOfBengal.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND-0114,ND-0114,97.0,NaN,NaN
6259,ND.0044,1941-1945,0.0,Sea Disaster,NaN,NaN,NaN,A group of survivors on a raft for 17-days,C.,NaN,NaN,"FATAL, shark leapt into raft and bit the man w...",Y,Late afternoon,1.2 m [4'] shark,"G.A. Llano in Airmen Against the Sea, p.69",ND-0044-C.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0044,ND.0044,44.0,NaN,NaN

In [28]:
#Replacing by "unknown"
data.country.fillna(value='Unknown',inplace=True)

In [29]:
#uniformising the data and typos
data.type.iloc[data.type[data.type=='Boat'].index] = 'Boating'

In [30]:
data.type.unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', 'Boatomg'], dtype=object)

*Removing NaN from area*

In [31]:
data.area.isnull().sum()
#Checking if in Type there are NaN. result: Yep.

455

In [32]:
area_na = data.area[data.area.isnull()==True].index
data.iloc[area_na]
#looking at the data

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n_,time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed22,unnamed23
32,2018.04.09,09-Apr-2018,2018.0,Unprovoked,NEW CALEDONIA,NaN,"Magenta Beach, Noumea",Windsurfing,NaN,NaN,NaN,"No injury, shark bit board",N,17h00,2 m shark,"Les Nouvelles Caledoniennes, 4/10/2018",2018.04.09-Magenta.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.09,2018.04.09,6271.0,NaN,NaN
33,2018.04.05,05-Apr-2018,2018.0,Unprovoked,BAHAMAS,NaN,Bimini,Swimming,Shane McConnell,M,12,"2 puncture wounds to left foot, abrasion to ri...",N,18h00,Bull shark,"K. McMurray, TrackingSharks.com",2018.04.05-McConnell.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.05,2018.04.05,6270.0,NaN,NaN
48,2018.01.21,21-Jan-2018,2018.0,Unprovoked,NEW CALEDONIA,NaN,Nouville,Spearfishing,male,M,40s,Injuries to abdomen and arm,N,15h30,"Bull shark, 3 m",TrackingSharks.com,2018.01.21-NewCaledonia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.01.21,2018.01.21,6255.0,NaN,NaN
56,2017.12.09,09-Dec-2017,2017.0,Unprovoked,BAHAMAS,NaN,NaN,Snorkeling,Sarah Illig-Carroll,F,25,Minor injury to arm,N,NaN,Nurse shark. 5',"Daily Star, 12/11/2017",2017.12.09-Carroll.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.12.09,2017.12.09,6247.0,NaN,NaN
59,2017.11.25.R,Reported 25-Nov-2017,2017.0,Sea Disaster,LIBYA,NaN,Gars Garabulli,2 boats capsized,31 migrants,NaN,NaN,FATAL,Y,NaN,Some drowned but other may have been killed by...,"TG Com 24, 11/25/2017",2017.11.25.R-Libya.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.11.25.R,2017.11.25.R,6244.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6291,ND.0011,Before 1911,0.0,Unprovoked,ASIA?,NaN,NaN,Swimming,Mr. Masury,M,NaN,Foot severed,N,NaN,NaN,"Ref. J. T. Dubois in N.Y. Sun, 3/19/1911",ND-0011-Masury.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0011,ND.0011,12.0,NaN,NaN
6293,ND.0009,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,boy,M,NaN,"FATAL, knocked overboard by tail of shark & ca...",Y,NaN,Blue pointer,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0009-boy-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0009,ND.0009,10.0,NaN,NaN
6294,ND.0008,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,NaN,FATAL,Y,NaN,Blue pointer,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0008-Fisherman2-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0008,ND.0008,9.0,NaN,NaN
6295,ND.0007,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,NaN,FATAL,Y,NaN,Blue pointers,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0007 - Fisherman-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0007,ND.0007,8.0,NaN,NaN
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN

In [33]:
#Replacing by "unknown"
data.area.fillna(value='Unknown',inplace=True)

*Removing NaN from location*

In [34]:
data.location.isnull().sum()
#Checking if in Type there are NaN. result: Yep.

540

In [35]:
location_na = data.location[data.location.isnull()==True].index
data.iloc[location_na]
#looking at the data

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n_,time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed22,unnamed23
56,2017.12.09,09-Dec-2017,2017.0,Unprovoked,BAHAMAS,Unknown,NaN,Snorkeling,Sarah Illig-Carroll,F,25,Minor injury to arm,N,NaN,Nurse shark. 5',"Daily Star, 12/11/2017",2017.12.09-Carroll.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.12.09,2017.12.09,6247.0,NaN,NaN
62,2017.11.13.R,Reported 13-Nov-2017,2017.0,Unprovoked,Unknown,Unknown,NaN,Surfing,Timur Yunusov,M,24,Puncture wounds to feet,N,NaN,NaN,Instagram,2017.11.13.R-Timur.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.11.13.R,2017.11.13.R,6241.0,NaN,NaN
101,2017.08.18,18-Aug-2017,2017.0,Unprovoked,BAHAMAS,Unknown,NaN,Spearfishing,male,M,NaN,Hand injured,N,15h00,5' shark,"CBS12, 8/18/2017",2017.08.18-JupiterDiver.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.08.18,2017.08.18,6202.0,NaN,NaN
110,2017.07.26.R,Reported 26-Jul-2017,2017.0,Unprovoked,BAHAMAS,40 miles off Grand Bahama Island,NaN,Spearfishing,Michael Massey,M,NaN,Severe lacerations to left hand,N,NaN,NaN,"RevistaJaraysedal.es, 7/26/2017",2017.07.26.R-Massey.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.07.26.R,2017.07.26.R,6193.0,NaN,NaN
132,2017.06.14.R,Reported 14-Jun-2017,2017.0,Unprovoked,BAHAMAS,Unknown,NaN,Feeding sharks,Carly,F,NaN,Fingernail pulled off,N,NaN,NaN,"AOL.UK, 6/14/2017",2017.06.14.R-Carly.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.14.R,2017.06.14.R,6171.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6291,ND.0011,Before 1911,0.0,Unprovoked,ASIA?,Unknown,NaN,Swimming,Mr. Masury,M,NaN,Foot severed,N,NaN,NaN,"Ref. J. T. Dubois in N.Y. Sun, 3/19/1911",ND-0011-Masury.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0011,ND.0011,12.0,NaN,NaN
6293,ND.0009,Before 1906,0.0,Unprovoked,AUSTRALIA,Unknown,NaN,Fishing,boy,M,NaN,"FATAL, knocked overboard by tail of shark & ca...",Y,NaN,Blue pointer,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0009-boy-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0009,ND.0009,10.0,NaN,NaN
6294,ND.0008,Before 1906,0.0,Unprovoked,AUSTRALIA,Unknown,NaN,Fishing,fisherman,M,NaN,FATAL,Y,NaN,Blue pointer,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0008-Fisherman2-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0008,ND.0008,9.0,NaN,NaN
6295,ND.0007,Before 1906,0.0,Unprovoked,AUSTRALIA,Unknown,NaN,Fishing,fisherman,M,NaN,FATAL,Y,NaN,Blue pointers,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0007 - Fisherman-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0007,ND.0007,8.0,NaN,NaN
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN

In [36]:
#Replacing by "unknown"
data.location.fillna(value='Unknown',inplace=True)

Removing NaN from activity

In [37]:
data.activity.isnull().sum()
#Checking if in Type there are NaN. result: Yep.

544

In [38]:
activity_na = data.activity[data.activity.isnull()==True].index
data.iloc[activity_na]
#looking at the data

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n_,time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed22,unnamed23
47,2018.01.28,28-Jan-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,Cone Bay,NaN,male,M,18,Injuries to right leg,N,08h00,Bull shark,"ABC.net.au, 01/28/2018",2018.01.28-ConeBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.01.28,2018.01.28,6256.0,NaN,NaN
108,2017.07.29.a,29-Jul-2017,2017.0,Unprovoked,USA,South Carolina,"DeBordieu Colony, Georgetown County",NaN,female x 2,F,12,Bite to left thigh / minor injury,N,Afternoon,NaN,"C. Creswell, GSAF",2017.07.29.a-Georgetown.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.07.29.a,2017.07.29.a,6195.0,NaN,NaN
112,2017.07.23.b,23-Jul-2017,2017.0,Unprovoked,USA,New Jersey,Ventnor,NaN,Isabella Smith,F,NaN,Minor injury to hand,N,NaN,Sandtiger shark 2',A. Smith,2017.07.23.b-Smith.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.07.23.b,2017.07.23.b,6191.0,NaN,NaN
114,2017.07.22,22-Jul-2017,2017.0,Unprovoked,USA,Florida,"Snipes Point, Monroe County",NaN,female,F,40,Foot bitten,N,12h30,"""A small shark""","NBC Miami, 7/23/2017",2017.07.22-Keys.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.07.22,2017.07.22,6189.0,NaN,NaN
154,2017.04.17.b,17-Apr-2017,2017.0,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",NaN,NaN,NaN,NaN,Minor bite to the foot,N,Afternoon,NaN,"Daytona Beach News-Journal, 4/17/2017",2017.04.17.b-Volusia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.04.17.b,2017.04.17.b,6149.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6269,ND.0034,1940-1946,0.0,Sea Disaster,PACIFIC OCEAN,Unknown,Unknown,NaN,"8 US airmen in the water, 1 was bitten by a shark",M,NaN,FATAL,Y,NaN,NaN,G. Llano,ND-0034-8-men-on-raft.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0034,ND.0034,34.0,NaN,NaN
6277,ND.0025,Before 1927,0.0,Unprovoked,AUSTRALIA,New South Wales,"Spectacle Island, Port Jackson",NaN,"male, the Sergeant of Marines",M,NaN,NaN,UNKNOWN,NaN,NaN,H. Capper,ND-0025-Sgt-SpectacleIsland.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0025,ND.0025,26.0,NaN,NaN
6282,ND.0020,1920 -1923,0.0,Unprovoked,AUSTRALIA,Queensland,Great Barrier Reef,NaN,3 Japanese divers,M,NaN,FATAL,Y,NaN,NaN,"V.M. Coppleson (1958), p.241",ND-0020-3JapaneseDivers.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0020,ND.0020,21.0,NaN,NaN
6292,ND.0010,Circa 1862,0.0,Unprovoked,USA,Hawaii,Puna,NaN,"A ""chiefess""",F,NaN,Ankle bitten,N,NaN,NaN,Captain W. Young,ND-0010-Puna Hawaii.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0010,ND.0010,11.0,NaN,NaN
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,Unknown,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN

In [39]:
#Replacing by "unknown"
data.activity.fillna(value='Unknown',inplace=True)

Removing NaN from name, sex and age

In [40]:
data.name.isnull().sum()
#Checking if in Type there are NaN. result: Yep.

210

In [41]:
name_na = data.name[data.name.isnull()==True].index
data.iloc[name_na]
#looking at the data

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n_,time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed22,unnamed23
32,2018.04.09,09-Apr-2018,2018.0,Unprovoked,NEW CALEDONIA,Unknown,"Magenta Beach, Noumea",Windsurfing,NaN,NaN,NaN,"No injury, shark bit board",N,17h00,2 m shark,"Les Nouvelles Caledoniennes, 4/10/2018",2018.04.09-Magenta.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.09,2018.04.09,6271.0,NaN,NaN
86,2017.09.14,Sep-2017,2017.0,Boating,AUSTRALIA,Westerm Australia,Esperance,Fishing,NaN,NaN,NaN,"sharks rammed boats, no injury to occupants",N,NaN,"White shark, 3.5m","B. Myatt, GSAF",2017.09.14-EsperanceBoats.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.09.14,2017.09.14,6217.0,NaN,NaN
124,2017.07.02,02-Jul-2017,2017.0,Invalid,COMOROS,Anjouan,Moya,Fishing,NaN,NaN,NaN,"Skull found in shark, a probable drowning & sc...",NaN,NaN,Shark involvement prior to death not confirmed,"Linfo, 7/3/2017",2017.07.02-Comoros.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.07.02,2017.07.02,6179.0,NaN,NaN
154,2017.04.17.b,17-Apr-2017,2017.0,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",Unknown,NaN,NaN,NaN,Minor bite to the foot,N,Afternoon,NaN,"Daytona Beach News-Journal, 4/17/2017",2017.04.17.b-Volusia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.04.17.b,2017.04.17.b,6149.0,NaN,NaN
184,2017.01.13.b,13-Jan-2017,2017.0,Unprovoked,AUSTRALIA,Queensland,Clairview,Swimming,NaN,M,57,Injury to hand,N,13h30,NaN,"Brisbane Times,1/13/2017",2017.01.13.b-Clairview.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.01.13.b,2017.01.13.b,6119.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6185,ND-0150,Before 1934,0.0,Unprovoked,URUGUAY,Rocha,"Isla Chica, La Paloma",Swimming,NaN,NaN,NaN,Foot bitten,N,NaN,NaN,"Di Candia, 2004",ND-0150-Uruguay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND-0150,ND-0150,118.0,NaN,NaN
6197,ND-0129,Before 2012,0.0,Unprovoked,SPAIN,Canary Islands,Tenerife,Skin diving,NaN,NaN,NaN,Injury required 16 stitches,N,NaN,NaN,"C. Moore, GSAF",ND-0129-Tenerife.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND-0129,ND-0129,106.0,NaN,NaN
6218,ND.0096,No date,0.0,Unprovoked,REUNION,Grand'Anse,Petite-île,yachtsman in a zodiac,NaN,M,NaN,Survived,N,NaN,NaN,G. Van Grevelynghe,ND-0096-Zodiac-Reunion.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0096,ND.0096,85.0,NaN,NaN
6237,ND.0073,"No date, Before 1963",0.0,Unprovoked,SINGAPORE,Unknown,"Keppel Harbor, 2 miles from Singapore city ce...",Swimming,NaN,NaN,NaN,Recovered,N,NaN,NaN,"V.M. Coppleson (1958), p.266",ND-0073-KeppelHarbourSingapore.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0073,ND.0073,66.0,NaN,NaN
6278,ND.0024,Between 1918 & 1939,0.0,Unprovoked,REUNION,Saint-Denis,Barachois,Swimming,NaN,NaN,NaN,FATAL,Y,NaN,NaN,G. Van Grevelynghe,ND-0024-Barachois-Reunion.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0024,ND.0024,25.0,NaN,NaN

In [42]:
#Replacing by "unknown".
data.loc[:,['name', 'sex', 'age']].fillna(value='Unknown',inplace=True)

In [43]:
#was pretty sure my method above would work but does not so I'll do it for each manually:
data.name.fillna(value='Unknown',inplace=True)
data.sex.fillna(value='Unknown',inplace=True)
data.age.fillna(value='Unknown',inplace=True)

In [44]:
data.reset_index(drop = True, inplace = True)
data.sex.unique()

array(['F', 'M', 'Unknown', 'M ', 'lli', 'N', '.'], dtype=object)

In [45]:
data.iloc[data.sex[data.sex=='N'].index]

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n_,time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed22,unnamed23
4938,1934.07.11,11-Jul-1934,1934.0,Boating,AUSTRALIA,New South Wales,Cronulla,Fishing,"18' boat, occupants William & Leslie Newton",N,Unknown,No injury to occupants Sharks continually foll...,N,NaN,"Blue pointer, 11'","G.P. Whitley, ref: Daily Telegraph, 7/11/1934 ...",1934.07.11-Newton-boat-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1934.07.11,1934.07.11,1365.0,NaN,NaN
6131,1801.12.18.R,Reported 18-Dec-1801,1801.0,Provoked,Unknown,Unknown,Unknown,Standing on landed shark's tail,Stephen Pettigew,N,Unknown,"FATAL, PROVOKED INCIDENT",Y,NaN,12' shark,"The Evening Post, 12/18/1801",1801.12.18.R-Pettigrew.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1801.12.18.R,1801.12.18.R,172.0,NaN,NaN

In [46]:
#After a look, the "N" seems to be a typo and should be "M" except one which is the killing of one guy and one girl in the same boat
#I will remove the two person boat for consitency in the data
#I will replace the N for M in the second case

ind = data.sex[data.sex=='N'].index

In [47]:
data.drop(ind[0],inplace = True)

In [48]:
data.reset_index(drop = True, inplace = True)
data.sex[data.sex=='N'].index

Int64Index([6130], dtype='int64')

In [49]:
data.sex.iloc[data.sex[data.sex=='N'].index[0]] = 'M'

In [50]:
#Ok no more 'N'
data.iloc[data.sex[data.sex=='N'].index]

Empty DataFrame
Columns: [casenumber, date, year, type, country, area, location, activity, name, sex, age, injury, fatal_y_n_, time, species, investigatororsource, pdf, hrefformula, href, casenumber.1, casenumber.2, originalorder, unnamed22, unnamed23]
Index: []

In [51]:
data.sex.unique()

array(['F', 'M', 'Unknown', 'M ', 'lli', '.'], dtype=object)

In [52]:
data.sex.iloc[data.sex[data.sex=='M '].index[0]] = 'M'

In [53]:
data.sex.iloc[data.sex[data.sex=='lli'].index[0]]= 'M'

In [54]:
data.sex.iloc[data.sex[data.sex=='.'].index[0]] = 'Unknown'

In [55]:
data.sex.unique()

array(['F', 'M', 'Unknown', 'M '], dtype=object)

Removing NaN from injury

In [56]:
data.injury.isna().sum()

28

In [57]:
injury_na = data.injury[data.injury.isnull()==True].index
data.iloc[injury_na]
#looking at the data

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n_,time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed22,unnamed23
1270,2008.04.20.a,20-Apr-2008,2008.0,Unprovoked,AUSTRALIA,New South Wales,Crescent Head,Unknown,Jamie Adlington,M,Unknown,NaN,UNKNOWN,NaN,"Tiger shark, 2.3m","T. Peake, GSAF",2008.04.20.a-Adlington.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2008.04.20.a,2008.04.20.a,5033.0,NaN,NaN
1366,2007.07.00,Jul-2007,2007.0,Invalid,SENEGAL,Unknown,Unknown,Murder,Alex Takyi,Unknown,Unknown,NaN,NaN,NaN,Questionable Incident,"Daily Guide, 8/20/2007",2007.07.00-Takyi.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007.07.00,2007.07.00,4937.0,NaN,NaN
2250,1997.06.07,07-Jun-1997,1997.0,Unprovoked,BRAZIL,Rio de Janeiro,"Copacabana, Rio de Janeiro",Bathing,José Luiz Lipiani,M,Unknown,NaN,UNKNOWN,NaN,NaN,"Globo, 6/9/1997",1997.06.07-NV-Lipiani.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1997.06.07,1997.06.07,4053.0,NaN,NaN
2267,1996.12.29,29-Dec-1996,1996.0,Unprovoked,AUSTRALIA,Queensland,Coolum Beach,Surfing,Blair Hall,M,18,NaN,UNKNOWN,18h00,NaN,"The Advertiser, 12/30/1996, p.3",1996.12.29-BlairHall.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1996.12.29,1996.12.29,4036.0,NaN,NaN
2648,1990.00.00,1990,1990.0,Unprovoked,USA,Florida,"Pensacola, Escambia County",Surfing,male,M,17,NaN,UNKNOWN,NaN,NaN,NaN,1990.00.00-NV-Pensacola.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1990.00.00,1990.00.00,3655.0,NaN,NaN
3038,1981.03.00,Mar-1981,1981.0,Unprovoked,BRAZIL,Rio de Janeiro,Cabo Frio,Diving,Unknown,Unknown,Unknown,NaN,UNKNOWN,NaN,White shark,"Globo,",1981.03.00-Brazil.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1981.03.00,1981.03.00,3265.0,NaN,NaN
3207,1975.10.04,04-Oct-1975,1975.0,Invalid,USA,California,"Seal Beach, Orange County",Surfing,Unknown,Unknown,Unknown,NaN,NaN,NaN,Questionable incident,Unconfirmed Report,1975.10.04-NV-California.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1975.10.04,1975.10.04,3096.0,NaN,NaN
3298,1973.08.27,27-Aug-1973,1973.0,Unprovoked,AUSTRALIA,Queensland,Palm Cove Beach,Unknown,G. Cole,Unknown,21,NaN,UNKNOWN,NaN,NaN,"J. Green, p.36",1973.08.27-Cole.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1973.08.27,1973.08.27,3005.0,NaN,NaN
3434,1969.05.22,22-May-1969,1969.0,Unprovoked,DOMINICAN REPUBLIC,Unknown,Unknown,Surfing,"Douglas Kuchn, Jr.",M,18,NaN,UNKNOWN,16h00,NaN,H.D.Baldridge (1994) SAF Case #1607,1969.05.22-NV-Kuchn.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1969.05.22,1969.05.22,2869.0,NaN,NaN
3457,1968.09.22,22-Sep-1968,1968.0,Invalid,USA,Florida,"Riviera Beach, Palm Beach County",Surfing,Unknown,Unknown,Unknown,NaN,NaN,12h48,Shark involvement not confirmed,"M. Vorenberg, GSAF",1968.09.22-NV-RivieraBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1968.09.22,1968.09.22,2846.0,NaN,NaN
3491,1968.00.00.a,1968,1968.0,Invalid,USA,Florida,"Jensen Beach, Martin County",Surfing,Unknown,Unknown,Unknown,NaN,NaN,17h00,Questionable incident,Unverified,1968.00.00.a-NV-JensenBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1968.00.00.a,1968.00.00.a,2812.0,NaN,NaN
3712,1964.01.01.b,01-Jan-1964,1964.0,Unprovoked,AUSTRALIA,Western Australia,Metro coast,Unknown,Edwards,Unknown,Unknown,NaN,UNKNOWN,NaN,NaN,"T. Peake, GSAF",1964.01.01.b-NV-Edwards.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1964.01.01.b,1964.01.01.b,2591.0,NaN,NaN
3838,1962.02.02,02-Feb-1962,1962.0,Boating,NEW ZEALAND,North Island,South of New Plymouth,Fishing,"17' fishing launch, occupants: A. Burkitt & C....",Unknown,Unknown,NaN,UNKNOWN,NaN,NaN,SAF Case #1125,1962.02.02-NV-Burkitt-Brooke-launch.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1962.02.02,1962.02.02,2465.0,NaN,NaN
3841,1962.01.26,26-Jan-1962,1962.0,Unprovoked,MOZAMBIQUE,Gaza,Praia Sepulveda,Unknown,Domingos Zefanias Cumbe,M,16,NaN,UNKNOWN,NaN,NaN,D. Davies,1962.01.26-Cumbe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1962.01.26,1962.01.26,2462.0,NaN,NaN
4060,1959.09.26.a,26-Sep-1959,1959.0,Boating,USA,South Carolina,"Albergotti Creek, near Air Station boat docks,...",Gigging for flounder,"12' boat. Occupants: Capt. E.J. Wines, Maj. W...",Unknown,Unknown,NaN,UNKNOWN,Midnight,"Said to involve white shark, but species ident...","Gazette (Beaufort, SC), 10.1/1959; SAF Case #577",1959.09.26.a-Wines.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1959.09.26.a,1959.09.26.a,2243.0,NaN,NaN
4517,1949.03.00,Mar-1949 or Apr-1949,1949.0,Boating,AUSTRALIA,South Australia,18 miles south of Port Augusta,Unknown,boat,Unknown,Unknown,NaN,UNKNOWN,NaN,NaN,"G.P. Whitley (1951), p.194; SAF Case #612",1949.03.00-boat-PortAugusta.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1949.03.00,1949.03.00,1786.0,NaN,NaN
4975,1932.11.09,08-Nov-1932,1932.0,Sea Disaster,CUBA,Unknown,Unknown,Hurricane & Tidal Wave,Unknown,Unknown,Unknown,NaN,UNKNOWN,NaN,NaN,"Barrier Miner, 11/14/1932",1932.11.09-Hurricane-Cuba.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1932.11.09,1932.11.09,1327.0,NaN,NaN
5369,1912.05.04,04-May-1912,1912.0,Invalid,SOUTH AFRICA,KwaZulu-Natal,Durban,Unknown,arm recovered from hooked shark,M,Unknown,NaN,NaN,NaN,Shark involvement prior to death unconfirmed,"M. Levine, GSAF",1912.05.04-arm.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1912.05.04,1912.05.04,933.0,NaN,NaN
5546,1901.06.29.R,Reported 29-Jun-1901,1901.0,Invalid,YEMEN,Aden,Unknown,Diving around anchored liner,boy,M,Unknown,NaN,NaN,NaN,Questionable,"The Graphic, 6/29/1901",1901.06.29.R-Aden.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1901.06.29.R,1901.06.29.R,756.0,NaN,NaN
5964,1862.12.04,04-Dec-1862,1862.0,Invalid,NEW ZEALAND,South Island,Lyttleton?,Unknown,Unknown,Unknown,Unknown,NaN,NaN,NaN,Questionable incident,"Bendigo Advertiser, 1/3/1863",1862.12.04-Lyttleton.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1862.12.04,1862.12.04,338.0,NaN,NaN
6139,1784.12.12,12-Dec-1784,1784.0,Unprovoked,JAMAICA,Unknown,Kingston,Swimming,Richard Page,M,Unknown,NaN,Y,22h00,NaN,"The Pennsylvaia Gazette, 3/16/1785",1784.12.12-Page.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1784.12.12,1784.12.12,163.0,NaN,NaN
6152,1755.00.00,1755,1755.0,Unprovoked,SWEDEN,Skagerrak arm of the North Sea,Bohuslän,Unknown,Fishermen,M,Unknown,NaN,UNKNOWN,NaN,NaN,"C. Moore, GSAF",1755.00.00-Sweden.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1755.00.00,1755.00.00,150.0,NaN,NaN
6164,1638.00.00.R,Reported 1638,1638.0,Unprovoked,Unknown,Unknown,Unknown,Unknown,sailors,M,Unknown,NaN,UNKNOWN,NaN,NaN,Sir Thomas Herbert,1638.00.00.R-Herbert,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1638.00.00.R,1638.00.00.R,138.0,NaN,NaN
6165,1637.00.00.R,Reported 1637,1637.0,Unprovoked,INDIA,West Bengal,Hooghly River mouth,Wading,Hindu pilgrims,Unknown,Unknown,NaN,UNKNOWN,NaN,NaN,"H. Edwards, p.31, citing Sebastian Manrique",1637.00.00.R-Manrique.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1637.00.00.R,1637.00.00.R,137.0,NaN,NaN
6166,1617.00.00.R,Reported 1617,1617.0,Unprovoked,INDIA,West Bengal,Ganges Delta,Unknown,Indian people,Unknown,Unknown,NaN,UNKNOWN,NaN,NaN,"H. Edwards, p.31, citing Samuel Purchas",1617.00.00-Purchas.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1617.00.00.R,1617.00.00.R,136.0,NaN,NaN
6170,1555.00.00,1555,1555.0,Unprovoked,Unknown,Unknown,Unknown,Swimming,male,M,Unknown,NaN,UNKNOWN,NaN,NaN,Olaus Magnus,1555.00.00 - Olaus Magnus.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1555.00.00,1555.00.00,132.0,NaN,NaN
6171,1554.00.00,Ca. 1554,1554.0,Unprovoked,FRANCE,Nice & Marseilles,Unknown,Unknown,males (wearing armor),M,Unknown,NaN,UNKNOWN,NaN,Possibly white sharks,G. Rondelet,1554.00.00-Rondelet.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1554.00.00,1554.00.00,131.0,NaN,NaN
6276,ND.0025,Before 1927,0.0,Unprovoked,AUSTRALIA,New South Wales,"Spectacle Island, Port Jackson",Unknown,"male, the Sergeant of Marines",M,Unknown,NaN,UNKNOWN,NaN,NaN,H. Capper,ND-0025-Sgt-SpectacleIsland.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0025,ND.0025,26.0,NaN,NaN

In [58]:
#Replacing by "unknown"
data.injury.fillna(value='Unknown',inplace=True)

*Removing NaN from fatal(y/n)*

In [59]:
data.fatal_y_n_.isna().sum()

539

In [60]:
fatal_y_n__na = data.fatal_y_n_[data.fatal_y_n_.isnull()==True].index
data.iloc[fatal_y_n__na]
#looking at the data

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n_,time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed22,unnamed23
27,2018.04.15.c,15-Apr-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,Piedade,Swimming,Pablo de Melo,M,34,"Multiple severe injuries to arms and leg, leg ...",NaN,NaN,NaN,"Globo, 4/16/2018",2018.04.15.c-deMelo.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.15.c,2018.04.15.c,6276.0,NaN,NaN
76,2017.10.01,01-Oct-2017,2017.0,Invalid,SOUTH AFRICA,Western Cape Province,Dyer Island,Scuba Diving,Bradley Fick,M,31,FATAL,NaN,NaN,Death may have been due to drowning,"All Africa, 10/11/2017",2017.10.01-Fick.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.10.01,2017.10.01,6227.0,NaN,NaN
79,2017.09.24.b,24-Sep-2017,2017.0,Invalid,USA,New York,Rockaway,Surfing,Michah Behrend,M,33,"Lacerations to right ankle, foot & toe",NaN,15h30,Questionable,"S. Curatolo-Wageman, GSAF",2017.09.24.b-Behrend.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.09.24.b,2017.09.24.b,6224.0,NaN,NaN
84,2017.09.15.b,15-Sep-2017,2017.0,Invalid,SOUTH AFRICA,Western Cape Province,Hawston,Scuba Diving,Wayon Love,M,25,"FATAL, but death was probably due to drowning",NaN,Afternoon,NaN,"Ground Up, 9/20/2017",2017.09.15.b-Love.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.09.15.b,2017.09.15.b,6219.0,NaN,NaN
98,2017.08.26.b,26-Aug-2017,2017.0,Invalid,SPAIN,Castellón,Grao de Moncofa,Swimming,female,F,11,Lacerations to left foot,NaN,Midday,Shark involvement questionable,"El Periodico Mediterraneo, 8/27/2017",2017.08.26.b-Spain.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.08.26.b,2017.08.26.b,6205.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6146,1767.00.00,1767,1767.0,Invalid,FRANCE,Côte d'Azur,St. Tropez,Bathing,Samuel Matthews,M,Unknown,Lacerations to arm & leg,NaN,NaN,Description of shark does not ring true,NaN,1767.00.00-Matthews.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1767.00.00,1767.00.00,156.0,NaN,NaN
6156,1733.00.00,1733,1733.0,Invalid,ICELAND,Bardestrand,Talkknefiord,Unknown,Unknown,Unknown,Unknown,"Partial hominid remains recovered from shark, ...",NaN,NaN,Shark involvement prior to death unconfirmed,E. Olafsen,1733.00.00-Iceland.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1733.00.00,1733.00.00,146.0,NaN,NaN
6157,1723.00.00,1723,1723.0,Unprovoked,ROATAN,Unknown,Unknown,Unknown,Philip Ashton,M,Unknown,Struck on thigh,NaN,NaN,NaN,"C.Moore, GSAF",1730.00.00-Ashton.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1723.00.00,1723.00.00,145.0,NaN,NaN
6163,1642.00.00.b,Late 1600s Reported 1728,1642.0,Invalid,GUINEA,Unknown,Unknown,Went overboard,crew member of the Nieuwstadt,M,Unknown,FATAL,NaN,NaN,Questionable,"History of the Pyrates, by D. Defoe, Vol. 2, p.28",1642.00.00.b-Nieuwstadt.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1642.00.00.b,1642.00.00.b,139.0,NaN,NaN
6231,ND.0081,"No date, Before 1963",0.0,Invalid,USA,Hawaii,"Portlock, Oahu",Diving,Val Valentine,M,Unknown,A 4.3 m [14'] shark made threat display. No in...,NaN,NaN,Invalid,B. Sojka & D. Lloyd,ND-0081-Valentine.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0081,ND.0081,71.0,NaN,NaN

In [61]:
#Based on my analysis, fatal could be replaced by "y" when we find data of "fatal". Eventhough, sometimes, the death happens some days after but as a result of the injuries from the attack.
#If in "injury" we don't find fatal, we put "N".

In [62]:
#1 from the NaN in Fatal, which data in injuries contains "Fatal"
indexFatal = []
for e in data[data.fatal_y_n_.isnull()==True].index:
    if 'FATAL' in str(data.injury[e]).upper():
        indexFatal.append(e)

In [63]:
#2 Replace NaN in column Fatal by "Y" in the indexes "indexFatal"
data.loc[indexFatal, 'fatal_y_n_'] = 'Y'

In [64]:
#3 replace NaN in column Fatal by "N" when in injury there is no "fatal" nor "unknown"
data.loc[data.injury[data.fatal_y_n_.isna()][data.injury != 'Unknown'].index, 'fatal_y_n_'] = 'N'

In [65]:
#4 investigating the remaining NaN
fatal_na = data.fatal_y_n_[data.fatal_y_n_.isna()==True].index
data.loc[fatal_na]

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n_,time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed22,unnamed23
1366,2007.07.00,Jul-2007,2007.0,Invalid,SENEGAL,Unknown,Unknown,Murder,Alex Takyi,Unknown,Unknown,Unknown,NaN,NaN,Questionable Incident,"Daily Guide, 8/20/2007",2007.07.00-Takyi.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007.07.00,2007.07.00,4937.0,NaN,NaN
3207,1975.10.04,04-Oct-1975,1975.0,Invalid,USA,California,"Seal Beach, Orange County",Surfing,Unknown,Unknown,Unknown,Unknown,NaN,NaN,Questionable incident,Unconfirmed Report,1975.10.04-NV-California.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1975.10.04,1975.10.04,3096.0,NaN,NaN
3457,1968.09.22,22-Sep-1968,1968.0,Invalid,USA,Florida,"Riviera Beach, Palm Beach County",Surfing,Unknown,Unknown,Unknown,Unknown,NaN,12h48,Shark involvement not confirmed,"M. Vorenberg, GSAF",1968.09.22-NV-RivieraBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1968.09.22,1968.09.22,2846.0,NaN,NaN
3491,1968.00.00.a,1968,1968.0,Invalid,USA,Florida,"Jensen Beach, Martin County",Surfing,Unknown,Unknown,Unknown,Unknown,NaN,17h00,Questionable incident,Unverified,1968.00.00.a-NV-JensenBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1968.00.00.a,1968.00.00.a,2812.0,NaN,NaN
5369,1912.05.04,04-May-1912,1912.0,Invalid,SOUTH AFRICA,KwaZulu-Natal,Durban,Unknown,arm recovered from hooked shark,M,Unknown,Unknown,NaN,NaN,Shark involvement prior to death unconfirmed,"M. Levine, GSAF",1912.05.04-arm.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1912.05.04,1912.05.04,933.0,NaN,NaN
5546,1901.06.29.R,Reported 29-Jun-1901,1901.0,Invalid,YEMEN,Aden,Unknown,Diving around anchored liner,boy,M,Unknown,Unknown,NaN,NaN,Questionable,"The Graphic, 6/29/1901",1901.06.29.R-Aden.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1901.06.29.R,1901.06.29.R,756.0,NaN,NaN
5596,1898.00.00.R,Reported 1898,1898.0,Invalid,CRETE,Unknown,Unknown,Sponge divers,male,M,Unknown,Unknown,NaN,NaN,Questionable,"C. Moore, GSAF",1898.00.00.R-Syria.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1898.00.00.R,1898.00.00.R,706.0,NaN,NaN
5964,1862.12.04,04-Dec-1862,1862.0,Invalid,NEW ZEALAND,South Island,Lyttleton?,Unknown,Unknown,Unknown,Unknown,Unknown,NaN,NaN,Questionable incident,"Bendigo Advertiser, 1/3/1863",1862.12.04-Lyttleton.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1862.12.04,1862.12.04,338.0,NaN,NaN

In [66]:
#Based on my look at the data, the most recent one is "questionable" and could implicate a "murder". 
# Others are much olders and largely incomplete. 
#Thus, I decide to remove the lines :

data.drop(index=fatal_na, inplace=True)

In [67]:
#5 analysing the rest of the data, I decided to :
'''
- replace the 2017 by 'N', as after investigation, this was not fatal
- replace 'M' by 'N' as, after investigation of the injury, it was not fatal, just a typo.
'''
data.fatal_y_n_.unique()

array(['N', 'Y', 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'], dtype=object)

In [68]:
data.fatal_y_n_ = data.fatal_y_n_.str.upper()
data.fatal_y_n_ = data.fatal_y_n_.str.strip()
data.fatal_y_n_.iloc[data.fatal_y_n_[data.fatal_y_n_=='M'].index] = 'N'
data.fatal_y_n_.iloc[data.fatal_y_n_[data.fatal_y_n_=='2017'].index] = 'N'

data.fatal_y_n_.unique()

array(['N', 'Y', 'UNKNOWN'], dtype=object)

In [69]:
#Done.
data.fatal_y_n_.isnull().sum()

0

*Removing NaN from time*

In [70]:
data.time.isnull().sum()

3347

In [71]:
# Replacing NaN by unknown
data.time.fillna('Unknown',inplace = True)

*Removing NaN from species*

In [72]:
data.species.isnull().sum()

2838

In [73]:
data.species.fillna('Unknown',inplace = True)

*Removing NaN from investigatororsource*

In [74]:
data.investigatororsource.isnull().sum()

17

In [75]:
data.investigatororsource.fillna('Unknown',inplace = True)

*Checking the remaining NaNs from the data*

In [76]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6293 entries, 0 to 6300
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   casenumber            6293 non-null   object
 1   date                  6293 non-null   object
 2   year                  6293 non-null   float64
 3   type                  6293 non-null   object
 4   country               6293 non-null   object
 5   area                  6293 non-null   object
 6   location              6293 non-null   object
 7   activity              6293 non-null   object
 8   name                  6293 non-null   object
 9   sex                   6293 non-null   object
 10  age                   6293 non-null   object
 11  injury                6293 non-null   object
 12  fatal_y_n_            6293 non-null   object
 13  time                  6293 non-null   object
 14  species               6293 non-null   object
 15  investigatororsource  6293 non-null   object
 16  pdf                   6293 non-null   object
 17  hrefformula           6292 non-null   object
 18  href                  6293 non-null   object
 19  casenumber.1          6293 non-null   object
 20  casenumber.2          6293 non-null   object
 21  originalorder         6293 non-null   float64
 22  unnamed22             1 non-null      object
 23  unnamed23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 1.2+ MB

In [77]:
data.reset_index(drop=True, inplace=True)

In [78]:
data.iloc[data.year[data.year.isnull()==True].index]

Empty DataFrame
Columns: [casenumber, date, year, type, country, area, location, activity, name, sex, age, injury, fatal_y_n_, time, species, investigatororsource, pdf, hrefformula, href, casenumber.1, casenumber.2, originalorder, unnamed22, unnamed23]
Index: []

In [79]:
#Based on date column I replaced NaN by the year of reported accident
data.year[6071]='1836'

In [80]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6293 entries, 0 to 6292
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   casenumber            6293 non-null   object
 1   date                  6293 non-null   object
 2   year                  6293 non-null   object
 3   type                  6293 non-null   object
 4   country               6293 non-null   object
 5   area                  6293 non-null   object
 6   location              6293 non-null   object
 7   activity              6293 non-null   object
 8   name                  6293 non-null   object
 9   sex                   6293 non-null   object
 10  age                   6293 non-null   object
 11  injury                6293 non-null   object
 12  fatal_y_n_            6293 non-null   object
 13  time                  6293 non-null   object
 14  species               6293 non-null   object
 15  investigatororsource  6293 non-null   object
 16  pdf                   6293 non-null   object
 17  hrefformula           6292 non-null   object
 18  href                  6293 non-null   object
 19  casenumber.1          6293 non-null   object
 20  casenumber.2          6293 non-null   object
 21  originalorder         6293 non-null   float64
 22  unnamed22             1 non-null      object
 23  unnamed23             2 non-null      object
dtypes: float64(1), object(23)
memory usage: 1.2+ MB

In [81]:
data.reset_index(drop=True, inplace=True)
data.iloc[data.year[data.hrefformula.isnull()==True].index]

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n_,time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed22,unnamed23
3242,1975.01.19,19-Jan-1975,1975.0,Unprovoked,AUSTRALIA,South Australia,Coffin Bay,Surfing,David Barrowman,M,17,"FATAL, body not recovered",Y,Unknown,Unknown,"J. West; Adelaide Advertiser, 1/20/1975; P. Ke...",1975.01.19-Barrowman.pdf,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,1975.01.19,1975.01.19,3059.0,NaN,NaN

In [82]:
# Replacing by data on the column href as it is the same always
data.hrefformula[3242]= data.href[data.hrefformula.isnull()==True]

In [83]:
data.unnamed22.fillna('Unkown',inplace = True)
data.unnamed23.fillna('Unkown',inplace = True)
data.reset_index(drop = True,inplace=True)

In [84]:
#No more NaN
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6293 entries, 0 to 6292
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   casenumber            6293 non-null   object
 1   date                  6293 non-null   object
 2   year                  6293 non-null   object
 3   type                  6293 non-null   object
 4   country               6293 non-null   object
 5   area                  6293 non-null   object
 6   location              6293 non-null   object
 7   activity              6293 non-null   object
 8   name                  6293 non-null   object
 9   sex                   6293 non-null   object
 10  age                   6293 non-null   object
 11  injury                6293 non-null   object
 12  fatal_y_n_            6293 non-null   object
 13  time                  6293 non-null   object
 14  species               6293 non-null   object
 15  investigatororsource  6293 non-null   object
 16  pdf                   6293 non-null   object
 17  hrefformula           6293 non-null   object
 18  href                  6293 non-null   object
 19  casenumber.1          6293 non-null   object
 20  casenumber.2          6293 non-null   object
 21  originalorder         6293 non-null   float64
 22  unnamed22             6293 non-null   object
 23  unnamed23             6293 non-null   object
dtypes: float64(1), object(23)
memory usage: 1.2+ MB

**Let's interprete the data**

In [85]:
data.year.unique()

array([2018.0, 2017.0, 2016.0, 2015.0, 2014.0, 2013.0, 2012.0, 2011.0,
       2010.0, 2009.0, 2008.0, 2007.0, 2006.0, 2005.0, 2004.0, 2003.0,
       2002.0, 2001.0, 2000.0, 1999.0, 1998.0, 1997.0, 1996.0, 1995.0,
       1984.0, 1994.0, 1993.0, 1992.0, 1991.0, 1990.0, 1989.0, 1969.0,
       1988.0, 1987.0, 1986.0, 1985.0, 1983.0, 1982.0, 1981.0, 1980.0,
       1979.0, 1978.0, 1977.0, 1976.0, 1975.0, 1974.0, 1973.0, 1972.0,
       1971.0, 1970.0, 1968.0, 1967.0, 1966.0, 1965.0, 1964.0, 1963.0,
       1962.0, 1961.0, 1960.0, 1959.0, 1958.0, 1957.0, 1956.0, 1955.0,
       1954.0, 1953.0, 1952.0, 1951.0, 1950.0, 1949.0, 1948.0, 1848.0,
       1947.0, 1946.0, 1945.0, 1944.0, 1943.0, 1942.0, 1941.0, 1940.0,
       1939.0, 1938.0, 1937.0, 1936.0, 1935.0, 1934.0, 1933.0, 1932.0,
       1931.0, 1930.0, 1929.0, 1928.0, 1927.0, 1926.0, 1925.0, 1924.0,
       1923.0, 1922.0, 1921.0, 1920.0, 1919.0, 1918.0, 1917.0, 1916.0,
       1915.0, 1914.0, 1913.0, 1912.0, 1911.0, 1910.0, 1909.0, 1908.0,
       1907.0, 1906.0, 1905.0, 1904.0, 1903.0, 1902.0, 1901.0, 1900.0,
       1899.0, 1898.0, 1897.0, 1896.0, 1895.0, 1894.0, 1893.0, 1892.0,
       1891.0, 1890.0, 1889.0, 1888.0, 1887.0, 1886.0, 1885.0, 1884.0,
       1883.0, 1882.0, 1881.0, 1880.0, 1879.0, 1878.0, 1877.0, 1876.0,
       1875.0, 1874.0, 1873.0, 1872.0, 1871.0, 1870.0, 1869.0, 1868.0,
       1867.0, 1866.0, 1865.0, 1864.0, 1863.0, 1862.0, 1861.0, 1860.0,
       1859.0, 1858.0, 1857.0, 1856.0, 1855.0, 1853.0, 1852.0, 1851.0,
       1850.0, 1849.0, 1847.0, 1846.0, 1845.0, 1844.0, 1842.0, 1841.0,
       1840.0, 1839.0, 1837.0, 1836.0, '1836', 1835.0, 1834.0, 1832.0,
       1831.0, 1830.0, 1829.0, 1828.0, 1827.0, 1826.0, 1825.0, 1823.0,
       1822.0, 1819.0, 1818.0, 1817.0, 1816.0, 1815.0, 1812.0, 1811.0,
       1810.0, 1808.0, 1807.0, 1805.0, 1804.0, 1803.0, 1802.0, 1801.0,
       1800.0, 1797.0, 1792.0, 1791.0, 1788.0, 1787.0, 1786.0, 1785.0,
       1784.0, 1783.0, 1780.0, 1779.0, 1776.0, 1771.0, 1767.0, 1764.0,
       1758.0, 1753.0, 1751.0, 1749.0, 1755.0, 1748.0, 1742.0, 1738.0,
       1733.0, 1723.0, 1721.0, 1703.0, 1700.0, 1642.0, 1638.0, 1637.0,
       1617.0, 1595.0, 1580.0, 1555.0, 1554.0, 1543.0, 500.0, 77.0, 5.0,
       0.0], dtype=object)

In [86]:
#Checking dates with 0 as year as it seems odd.
dates0 = data.year[data.year==0].index
data.iloc[dates0].head()

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n_,time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed22,unnamed23
6168,0000.0214,Ca. 214 B.C.,0.0,Unprovoked,Unknown,Ionian Sea,Unknown,Ascending from a dive,"Tharsys, a sponge diver",M,Unknown,"FATAL, shark/s bit him in two",Y,Unknown,Unknown,"Reported by Greek poet, Leonidas of Tarentum (...",214BC-Tharsys.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0000.0214,0000.0214,126.0,Unkown,Unkown
6169,0000.0336,Ca. 336.B.C..,0.0,Unprovoked,GREECE,Piraeus,In the haven of Cantharus,Washing his pig in preparation for a religious...,A candidate for initiation,M,Unknown,"FATAL, shark ""bit off all lower parts of him u...",Y,Unknown,Unknown,Plutarch (45 - 125 A.D.) in Life of Phoecion (...,336-BC-Carnathus.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0000.0336,0000.0336,125.0,Unkown,Unkown
6170,0000.0493,493 B.C.,0.0,Sea Disaster,GREECE,Off Thessaly,Unknown,Shipwrecked Persian Fleet,males,M,Unknown,Herodotus tells of sharks attacking men in the...,Y,Unknown,Unknown,Herodotus (485 - 425 B.C.),493BC-PersianFleet.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0000.0493,0000.0493,124.0,Unkown,Unkown
6171,0000.0725,Ca. 725 B.C.,0.0,Sea Disaster,ITALY,Tyrrhenian Sea,Krater found during excavations at Lacco Ameno...,Shipwreck,males,M,Unknown,Depicts shipwrecked sailors attacked by a sha...,Y,Unknown,Unknown,"V.M. Coppleson (1958), p.262, et al",725BC-vase.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0000.0725,0000.0725,123.0,Unkown,Unkown
6172,ND-0154,Before 1939,0.0,Unprovoked,CANADA,Unknown,Grand Banks,Fishing,Joe Folsom,M,Unknown,Arm bitten,N,Unknown,Unknown,"C.E.Russell, pp. 310-311",ND-0154-Folsom.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND-0154,ND-0154,122.0,Unkown,Unkown

In [87]:
#creating a list of indexes where there is "B.C" in the col date:
indexBC=[]
for e in data.date.index:
    if 'B.C' in data.date[e].upper():
        indexBC.append(e)

In [88]:
#Checking if correct:
data.iloc[indexBC]

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n_,time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed22,unnamed23
6168,0000.0214,Ca. 214 B.C.,0.0,Unprovoked,Unknown,Ionian Sea,Unknown,Ascending from a dive,"Tharsys, a sponge diver",M,Unknown,"FATAL, shark/s bit him in two",Y,Unknown,Unknown,"Reported by Greek poet, Leonidas of Tarentum (...",214BC-Tharsys.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0000.0214,0000.0214,126.0,Unkown,Unkown
6169,0000.0336,Ca. 336.B.C..,0.0,Unprovoked,GREECE,Piraeus,In the haven of Cantharus,Washing his pig in preparation for a religious...,A candidate for initiation,M,Unknown,"FATAL, shark ""bit off all lower parts of him u...",Y,Unknown,Unknown,Plutarch (45 - 125 A.D.) in Life of Phoecion (...,336-BC-Carnathus.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0000.0336,0000.0336,125.0,Unkown,Unkown
6170,0000.0493,493 B.C.,0.0,Sea Disaster,GREECE,Off Thessaly,Unknown,Shipwrecked Persian Fleet,males,M,Unknown,Herodotus tells of sharks attacking men in the...,Y,Unknown,Unknown,Herodotus (485 - 425 B.C.),493BC-PersianFleet.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0000.0493,0000.0493,124.0,Unkown,Unkown
6171,0000.0725,Ca. 725 B.C.,0.0,Sea Disaster,ITALY,Tyrrhenian Sea,Krater found during excavations at Lacco Ameno...,Shipwreck,males,M,Unknown,Depicts shipwrecked sailors attacked by a sha...,Y,Unknown,Unknown,"V.M. Coppleson (1958), p.262, et al",725BC-vase.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0000.0725,0000.0725,123.0,Unkown,Unkown

In [89]:
#Removing those lines as they are full of unknowns and are only 4 so not significant.

data.drop(indexBC,inplace=True)
data.reset_index(drop=True, inplace=True)

In [90]:
#We see that often, the year is on the last 4 caracters given in the date.
new= []
for e in list(data.date[data.year==0]):
    new.append(e[-4:])
new

['1939',
 '1991',
 '2016',
 '2009',
 '1934',
 '1934',
 '009?',
 '1930',
 '1899',
 '1909',
 '2012',
 '1916',
 '1963',
 '1908',
 '1900',
 '1876',
 '2012',
 '2011',
 '2011',
 '2009',
 '1994',
 '1963',
 '1913',
 '1936',
 '1912',
 '2012',
 '1911',
 '1901',
 '960s',
 '2006',
 '2003',
 '2004',
 '1962',
 '950s',
 '1963',
 '003?',
 'date',
 'date',
 '1998',
 '1996',
 '1995',
 '1996',
 '1989',
 '1987',
 '1987',
 '1975',
 '1975',
 '1969',
 '1967',
 '1963',
 '1965',
 '1963',
 '1902',
 '1902',
 '1963',
 '1936',
 '1963',
 '1962',
 '1962',
 '1961',
 '960s',
 '960s',
 '960s',
 '1960',
 '1959',
 '1959',
 '1958',
 '1958',
 '1958',
 '1958',
 '1958',
 '1958',
 '1957',
 '1957',
 '1956',
 '1956',
 '1956',
 '1952',
 '1945',
 '1945',
 'war"',
 '1945',
 '1945',
 '1945',
 '1942',
 '1950',
 '1950',
 '1950',
 '1946',
 '1905',
 'r II',
 'r II',
 '1905',
 '1938',
 'date',
 '930s',
 '1927',
 '1939',
 'date',
 'date',
 'date',
 '1923',
 '1921',
 '1911',
 '1921',
 '1921',
 '1917',
 '1916',
 '1913',
 '1913',
 '1911',
 '1862',
 '1906',
 '1906',
 '1906',
 '1906',
 '1903',
 '1903',
 '1905',
 '1889',
 '1853']

In [91]:
data.year.iloc[data.year[data.year==0].index]

6168    0.0
6169    0.0
6170    0.0
6171    0.0
6172    0.0
       ...
6284    0.0
6285    0.0
6286    0.0
6287    0.0
6288    0.0
Name: year, Length: 121, dtype: object

In [92]:
data.reset_index(drop = True, inplace = True)
data.head()

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n_,time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed22,unnamed23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,Unkown,Unkown
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,Unknown,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,Unkown,Unkown
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,Unknown,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,Unkown,Unkown
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,Unknown,Minor injury to lower leg,N,Unknown,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,Unkown,Unkown
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,Unknown,Lacerations to leg & hand shark PROVOKED INCIDENT,N,Unknown,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,Unkown,Unkown

In [93]:
years0 = data.year[data.year==0].index

In [94]:
data.loc[years0,"year"] = new

In [95]:
data.tail()

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n_,time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed22,unnamed23
6284,ND.0005,Before 1903,1903,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,Unknown,FATAL,Y,Unknown,Unknown,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,Unkown,Unkown
6285,ND.0004,Before 1903,1903,Unprovoked,AUSTRALIA,Western Australia,Unknown,Pearl diving,Ahmun,M,Unknown,FATAL,Y,Unknown,Unknown,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,Unkown,Unkown
6286,ND.0003,1900-1905,1905,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,Unknown,FATAL,Y,Unknown,Unknown,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,Unkown,Unkown
6287,ND.0002,1883-1889,1889,Unprovoked,PANAMA,Unknown,"Panama Bay 8ºN, 79ºW",Unknown,Jules Patterson,M,Unknown,FATAL,Y,Unknown,Unknown,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,Unkown,Unkown
6288,ND.0001,1845-1853,1853,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,Unknown,Unknown,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,Unkown,Unkown

In [96]:
data.year.unique()

array([2018.0, 2017.0, 2016.0, 2015.0, 2014.0, 2013.0, 2012.0, 2011.0,
       2010.0, 2009.0, 2008.0, 2007.0, 2006.0, 2005.0, 2004.0, 2003.0,
       2002.0, 2001.0, 2000.0, 1999.0, 1998.0, 1997.0, 1996.0, 1995.0,
       1984.0, 1994.0, 1993.0, 1992.0, 1991.0, 1990.0, 1989.0, 1969.0,
       1988.0, 1987.0, 1986.0, 1985.0, 1983.0, 1982.0, 1981.0, 1980.0,
       1979.0, 1978.0, 1977.0, 1976.0, 1975.0, 1974.0, 1973.0, 1972.0,
       1971.0, 1970.0, 1968.0, 1967.0, 1966.0, 1965.0, 1964.0, 1963.0,
       1962.0, 1961.0, 1960.0, 1959.0, 1958.0, 1957.0, 1956.0, 1955.0,
       1954.0, 1953.0, 1952.0, 1951.0, 1950.0, 1949.0, 1948.0, 1848.0,
       1947.0, 1946.0, 1945.0, 1944.0, 1943.0, 1942.0, 1941.0, 1940.0,
       1939.0, 1938.0, 1937.0, 1936.0, 1935.0, 1934.0, 1933.0, 1932.0,
       1931.0, 1930.0, 1929.0, 1928.0, 1927.0, 1926.0, 1925.0, 1924.0,
       1923.0, 1922.0, 1921.0, 1920.0, 1919.0, 1918.0, 1917.0, 1916.0,
       1915.0, 1914.0, 1913.0, 1912.0, 1911.0, 1910.0, 1909.0, 1908.0,
       1907.0, 1906.0, 1905.0, 1904.0, 1903.0, 1902.0, 1901.0, 1900.0,
       1899.0, 1898.0, 1897.0, 1896.0, 1895.0, 1894.0, 1893.0, 1892.0,
       1891.0, 1890.0, 1889.0, 1888.0, 1887.0, 1886.0, 1885.0, 1884.0,
       1883.0, 1882.0, 1881.0, 1880.0, 1879.0, 1878.0, 1877.0, 1876.0,
       1875.0, 1874.0, 1873.0, 1872.0, 1871.0, 1870.0, 1869.0, 1868.0,
       1867.0, 1866.0, 1865.0, 1864.0, 1863.0, 1862.0, 1861.0, 1860.0,
       1859.0, 1858.0, 1857.0, 1856.0, 1855.0, 1853.0, 1852.0, 1851.0,
       1850.0, 1849.0, 1847.0, 1846.0, 1845.0, 1844.0, 1842.0, 1841.0,
       1840.0, 1839.0, 1837.0, 1836.0, '1836', 1835.0, 1834.0, 1832.0,
       1831.0, 1830.0, 1829.0, 1828.0, 1827.0, 1826.0, 1825.0, 1823.0,
       1822.0, 1819.0, 1818.0, 1817.0, 1816.0, 1815.0, 1812.0, 1811.0,
       1810.0, 1808.0, 1807.0, 1805.0, 1804.0, 1803.0, 1802.0, 1801.0,
       1800.0, 1797.0, 1792.0, 1791.0, 1788.0, 1787.0, 1786.0, 1785.0,
       1784.0, 1783.0, 1780.0, 1779.0, 1776.0, 1771.0, 1767.0, 1764.0,
       1758.0, 1753.0, 1751.0, 1749.0, 1755.0, 1748.0, 1742.0, 1738.0,
       1733.0, 1723.0, 1721.0, 1703.0, 1700.0, 1642.0, 1638.0, 1637.0,
       1617.0, 1595.0, 1580.0, 1555.0, 1554.0, 1543.0, 500.0, 77.0, 5.0,
       '1939', '1991', '2016', '2009', '1934', '009?', '1930', '1899',
       '1909', '2012', '1916', '1963', '1908', '1900', '1876', '2011',
       '1994', '1913', '1936', '1912', '1911', '1901', '960s', '2006',
       '2003', '2004', '1962', '950s', '003?', 'date', '1998', '1996',
       '1995', '1989', '1987', '1975', '1969', '1967', '1965', '1902',
       '1961', '1960', '1959', '1958', '1957', '1956', '1952', '1945',
       'war"', '1942', '1950', '1946', '1905', 'r II', '1938', '930s',
       '1927', '1923', '1921', '1917', '1862', '1906', '1903', '1889',
       '1853'], dtype=object)

In [97]:
#Investigating the figures not years.
data.year[data.year=='war"'].index
data.iloc[data.year[data.year=='war"'].index]

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n_,time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed22,unnamed23
6248,ND.0042,"""Before the war""","war""",Unprovoked,AUSTRALIA,Torres Strait,Thursday Island?,Free diving,Mortakee,M,Unknown,Head bitten,N,Unknown,Unknown,Press clipping dated 6/28/1950,ND-0042-Mortakee.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0042,ND.0042,42.0,Unkown,Unkown

In [98]:
#Droping as lack of data
data.drop(index=data.year[data.year=='war"'].index, axis=0, inplace=True )
data.reset_index(drop=True, inplace=True)

In [99]:
#Investigating the figures not years.
data.year[data.year=='009?'].index
data.iloc[data.year[data.year=='009?'].index]

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n_,time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed22,unnamed23
6174,ND-0148,2009?,009?,Unprovoked,USA,South Carolina,Charleston,Swimming,Rick Donnis,M,Unknown,Minor injury,N,Unknown,Unknown,WBTV-News3,ND-0148-Donnis.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND-0148,ND-0148,116.0,Unkown,Unkown

In [100]:
data.year.loc[data.year[data.year=='009?'].index] = 2009

In [101]:
#Investigating the figures not years.
data.year[data.year=='960s'].index
data.iloc[data.year[data.year=='960s'].index]

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n_,time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed22,unnamed23
6196,ND.0110,"No date, late 1960s",960s,Unprovoked,VENEZUELA,Los Roques Islands,Unknown,Spearfishing,4 French divers,M,Unknown,"FATAL (x3), one survived with minor injuries",Y,Unknown,said to involve 2.5 m hammerhead sharks,http://waterco.com.br/ataque_tubarao.htm,ND-0110-FrenchDivers.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0110,ND.0110,94.0,Unkown,Unkown
6228,ND.0065,1960s,960s,Unprovoked,IRAQ,Basrah,Shatt-al-Arab River,Fishing from a small boat & put his hand in th...,male,M,25,Right hand severed,N,Afternoon,Unknown,B.W. Coad & L.A.J. Al-Hassan,ND-0065-deadfish.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0065,ND.0065,62.0,Unkown,Unkown
6229,ND.0064,1960s,960s,Unprovoked,IRAQ,Basrah,Shatt-al-Arab River,Swimming naked near a date palm where many dat...,male,M,6,Arm severed,N,Afternoon,Bull shark,B.W. Coad & L.A.J. Al-Hassan,ND-0064-Shatt-al-Arab.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0064,ND.0064,61.0,Unkown,Unkown
6230,ND.0063,1960s,960s,Unprovoked,IRAQ,Basrah,Shatt-al-Arab River near Abu al Khasib,Swimming in section of river used for washing ...,male,M,16,Right leg lacerated & surgically amputated,N,Afternoon,Bull shark,B.W. Coad & L.A.J. Al-Hassan,ND-0063-Shatt-al-Arab.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0063,ND.0063,60.0,Unkown,Unkown

In [102]:
data.year.loc[data.year[data.year=='960s'].index] = 1960

In [103]:
data.year.unique()

array([2018.0, 2017.0, 2016.0, 2015.0, 2014.0, 2013.0, 2012.0, 2011.0,
       2010.0, 2009.0, 2008.0, 2007.0, 2006.0, 2005.0, 2004.0, 2003.0,
       2002.0, 2001.0, 2000.0, 1999.0, 1998.0, 1997.0, 1996.0, 1995.0,
       1984.0, 1994.0, 1993.0, 1992.0, 1991.0, 1990.0, 1989.0, 1969.0,
       1988.0, 1987.0, 1986.0, 1985.0, 1983.0, 1982.0, 1981.0, 1980.0,
       1979.0, 1978.0, 1977.0, 1976.0, 1975.0, 1974.0, 1973.0, 1972.0,
       1971.0, 1970.0, 1968.0, 1967.0, 1966.0, 1965.0, 1964.0, 1963.0,
       1962.0, 1961.0, 1960.0, 1959.0, 1958.0, 1957.0, 1956.0, 1955.0,
       1954.0, 1953.0, 1952.0, 1951.0, 1950.0, 1949.0, 1948.0, 1848.0,
       1947.0, 1946.0, 1945.0, 1944.0, 1943.0, 1942.0, 1941.0, 1940.0,
       1939.0, 1938.0, 1937.0, 1936.0, 1935.0, 1934.0, 1933.0, 1932.0,
       1931.0, 1930.0, 1929.0, 1928.0, 1927.0, 1926.0, 1925.0, 1924.0,
       1923.0, 1922.0, 1921.0, 1920.0, 1919.0, 1918.0, 1917.0, 1916.0,
       1915.0, 1914.0, 1913.0, 1912.0, 1911.0, 1910.0, 1909.0, 1908.0,
       1907.0, 1906.0, 1905.0, 1904.0, 1903.0, 1902.0, 1901.0, 1900.0,
       1899.0, 1898.0, 1897.0, 1896.0, 1895.0, 1894.0, 1893.0, 1892.0,
       1891.0, 1890.0, 1889.0, 1888.0, 1887.0, 1886.0, 1885.0, 1884.0,
       1883.0, 1882.0, 1881.0, 1880.0, 1879.0, 1878.0, 1877.0, 1876.0,
       1875.0, 1874.0, 1873.0, 1872.0, 1871.0, 1870.0, 1869.0, 1868.0,
       1867.0, 1866.0, 1865.0, 1864.0, 1863.0, 1862.0, 1861.0, 1860.0,
       1859.0, 1858.0, 1857.0, 1856.0, 1855.0, 1853.0, 1852.0, 1851.0,
       1850.0, 1849.0, 1847.0, 1846.0, 1845.0, 1844.0, 1842.0, 1841.0,
       1840.0, 1839.0, 1837.0, 1836.0, '1836', 1835.0, 1834.0, 1832.0,
       1831.0, 1830.0, 1829.0, 1828.0, 1827.0, 1826.0, 1825.0, 1823.0,
       1822.0, 1819.0, 1818.0, 1817.0, 1816.0, 1815.0, 1812.0, 1811.0,
       1810.0, 1808.0, 1807.0, 1805.0, 1804.0, 1803.0, 1802.0, 1801.0,
       1800.0, 1797.0, 1792.0, 1791.0, 1788.0, 1787.0, 1786.0, 1785.0,
       1784.0, 1783.0, 1780.0, 1779.0, 1776.0, 1771.0, 1767.0, 1764.0,
       1758.0, 1753.0, 1751.0, 1749.0, 1755.0, 1748.0, 1742.0, 1738.0,
       1733.0, 1723.0, 1721.0, 1703.0, 1700.0, 1642.0, 1638.0, 1637.0,
       1617.0, 1595.0, 1580.0, 1555.0, 1554.0, 1543.0, 500.0, 77.0, 5.0,
       '1939', '1991', '2016', '2009', '1934', '1930', '1899', '1909',
       '2012', '1916', '1963', '1908', '1900', '1876', '2011', '1994',
       '1913', '1936', '1912', '1911', '1901', '2006', '2003', '2004',
       '1962', '950s', '003?', 'date', '1998', '1996', '1995', '1989',
       '1987', '1975', '1969', '1967', '1965', '1902', '1961', '1960',
       '1959', '1958', '1957', '1956', '1952', '1945', '1942', '1950',
       '1946', '1905', 'r II', '1938', '930s', '1927', '1923', '1921',
       '1917', '1862', '1906', '1903', '1889', '1853'], dtype=object)

In [104]:
#Investigating the figures not years.
data.year[data.year=='003?'].index
data.iloc[data.year[data.year=='003?'].index]

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n_,time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed22,unnamed23
6203,ND.0100,2003?,003?,Unprovoked,BAHAMAS,Andros Islands,Great Guana Cay,Spearfishing,C.D. Dollar,M,Unknown,Swim fin bitten,N,Unknown,1.8 m [6'] shark,"R.D. Weeks, GSAF",ND-0100-CDDollar.pdf,Q93http://sharkattackfile.net/spreadsheets/pdf...,Q93http://sharkattackfile.net/spreadsheets/pdf...,ND.0100,ND.0100,87.0,Unkown,Unkown

In [105]:
data.year.loc[data.year[data.year=='003'].index] = 2003

In [106]:
#Investigating the figures not years.
data.year[data.year=='r II'].index
data.iloc[data.year[data.year=='r II'].index]

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n_,time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed22,unnamed23
6257,ND.0032,World War II,r II,Sea Disaster,PAPUA NEW GUINEA,Between New Ireland & New Britain,St. Georges Channel,Spent 8 days in dinghy,pilot,M,Unknown,"No injury, but shark removed the heel & part o...",N,Unknown,Unknown,"G.A. Llano in Airmen Against the Sea, p.69; V....",ND-0032-RabaulPilot.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0032,ND.0032,32.0,Unkown,Unkown
6258,ND.0031,World War II,r II,Sea Disaster,PAPUA NEW GUINEA,Madang Province,Off Lae,"Aircraft ditched in the sea, swimming ashore",male,M,Unknown,Shark bumped him,N,Unknown,Unknown,"V.M. Coppleson (1962), p.257",ND-0031-Ditched-Aircrat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0031,ND.0031,31.0,Unkown,Unkown

In [107]:
data.year.loc[data.year[data.year=='r II'].index] = 1944

In [108]:
data.year.unique()

array([2018.0, 2017.0, 2016.0, 2015.0, 2014.0, 2013.0, 2012.0, 2011.0,
       2010.0, 2009.0, 2008.0, 2007.0, 2006.0, 2005.0, 2004.0, 2003.0,
       2002.0, 2001.0, 2000.0, 1999.0, 1998.0, 1997.0, 1996.0, 1995.0,
       1984.0, 1994.0, 1993.0, 1992.0, 1991.0, 1990.0, 1989.0, 1969.0,
       1988.0, 1987.0, 1986.0, 1985.0, 1983.0, 1982.0, 1981.0, 1980.0,
       1979.0, 1978.0, 1977.0, 1976.0, 1975.0, 1974.0, 1973.0, 1972.0,
       1971.0, 1970.0, 1968.0, 1967.0, 1966.0, 1965.0, 1964.0, 1963.0,
       1962.0, 1961.0, 1960.0, 1959.0, 1958.0, 1957.0, 1956.0, 1955.0,
       1954.0, 1953.0, 1952.0, 1951.0, 1950.0, 1949.0, 1948.0, 1848.0,
       1947.0, 1946.0, 1945.0, 1944.0, 1943.0, 1942.0, 1941.0, 1940.0,
       1939.0, 1938.0, 1937.0, 1936.0, 1935.0, 1934.0, 1933.0, 1932.0,
       1931.0, 1930.0, 1929.0, 1928.0, 1927.0, 1926.0, 1925.0, 1924.0,
       1923.0, 1922.0, 1921.0, 1920.0, 1919.0, 1918.0, 1917.0, 1916.0,
       1915.0, 1914.0, 1913.0, 1912.0, 1911.0, 1910.0, 1909.0, 1908.0,
       1907.0, 1906.0, 1905.0, 1904.0, 1903.0, 1902.0, 1901.0, 1900.0,
       1899.0, 1898.0, 1897.0, 1896.0, 1895.0, 1894.0, 1893.0, 1892.0,
       1891.0, 1890.0, 1889.0, 1888.0, 1887.0, 1886.0, 1885.0, 1884.0,
       1883.0, 1882.0, 1881.0, 1880.0, 1879.0, 1878.0, 1877.0, 1876.0,
       1875.0, 1874.0, 1873.0, 1872.0, 1871.0, 1870.0, 1869.0, 1868.0,
       1867.0, 1866.0, 1865.0, 1864.0, 1863.0, 1862.0, 1861.0, 1860.0,
       1859.0, 1858.0, 1857.0, 1856.0, 1855.0, 1853.0, 1852.0, 1851.0,
       1850.0, 1849.0, 1847.0, 1846.0, 1845.0, 1844.0, 1842.0, 1841.0,
       1840.0, 1839.0, 1837.0, 1836.0, '1836', 1835.0, 1834.0, 1832.0,
       1831.0, 1830.0, 1829.0, 1828.0, 1827.0, 1826.0, 1825.0, 1823.0,
       1822.0, 1819.0, 1818.0, 1817.0, 1816.0, 1815.0, 1812.0, 1811.0,
       1810.0, 1808.0, 1807.0, 1805.0, 1804.0, 1803.0, 1802.0, 1801.0,
       1800.0, 1797.0, 1792.0, 1791.0, 1788.0, 1787.0, 1786.0, 1785.0,
       1784.0, 1783.0, 1780.0, 1779.0, 1776.0, 1771.0, 1767.0, 1764.0,
       1758.0, 1753.0, 1751.0, 1749.0, 1755.0, 1748.0, 1742.0, 1738.0,
       1733.0, 1723.0, 1721.0, 1703.0, 1700.0, 1642.0, 1638.0, 1637.0,
       1617.0, 1595.0, 1580.0, 1555.0, 1554.0, 1543.0, 500.0, 77.0, 5.0,
       '1939', '1991', '2016', '2009', '1934', '1930', '1899', '1909',
       '2012', '1916', '1963', '1908', '1900', '1876', '2011', '1994',
       '1913', '1936', '1912', '1911', '1901', '2006', '2003', '2004',
       '1962', '950s', '003?', 'date', '1998', '1996', '1995', '1989',
       '1987', '1975', '1969', '1967', '1965', '1902', '1961', '1960',
       '1959', '1958', '1957', '1956', '1952', '1945', '1942', '1950',
       '1946', '1905', '1938', '930s', '1927', '1923', '1921', '1917',
       '1862', '1906', '1903', '1889', '1853'], dtype=object)

In [109]:
#Investigating the figures not years.
data.year[data.year=='930s'].index
data.iloc[data.year[data.year=='930s'].index]

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n_,time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed22,unnamed23
6262,ND.0026,Early 1930s,930s,Unprovoked,BELIZE,Unknown,Unknown,Standing,a servant,M,16,FATAL,Y,Unknown,12' tiger shark,Mitchell-Hedges,ND-0026-Belize.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0026,ND.0026,27.0,Unkown,Unkown

In [110]:
data.year.loc[data.year[data.year=='930s'].index] = 930

In [111]:
data.year.unique()

array([2018.0, 2017.0, 2016.0, 2015.0, 2014.0, 2013.0, 2012.0, 2011.0,
       2010.0, 2009.0, 2008.0, 2007.0, 2006.0, 2005.0, 2004.0, 2003.0,
       2002.0, 2001.0, 2000.0, 1999.0, 1998.0, 1997.0, 1996.0, 1995.0,
       1984.0, 1994.0, 1993.0, 1992.0, 1991.0, 1990.0, 1989.0, 1969.0,
       1988.0, 1987.0, 1986.0, 1985.0, 1983.0, 1982.0, 1981.0, 1980.0,
       1979.0, 1978.0, 1977.0, 1976.0, 1975.0, 1974.0, 1973.0, 1972.0,
       1971.0, 1970.0, 1968.0, 1967.0, 1966.0, 1965.0, 1964.0, 1963.0,
       1962.0, 1961.0, 1960.0, 1959.0, 1958.0, 1957.0, 1956.0, 1955.0,
       1954.0, 1953.0, 1952.0, 1951.0, 1950.0, 1949.0, 1948.0, 1848.0,
       1947.0, 1946.0, 1945.0, 1944.0, 1943.0, 1942.0, 1941.0, 1940.0,
       1939.0, 1938.0, 1937.0, 1936.0, 1935.0, 1934.0, 1933.0, 1932.0,
       1931.0, 1930.0, 1929.0, 1928.0, 1927.0, 1926.0, 1925.0, 1924.0,
       1923.0, 1922.0, 1921.0, 1920.0, 1919.0, 1918.0, 1917.0, 1916.0,
       1915.0, 1914.0, 1913.0, 1912.0, 1911.0, 1910.0, 1909.0, 1908.0,
       1907.0, 1906.0, 1905.0, 1904.0, 1903.0, 1902.0, 1901.0, 1900.0,
       1899.0, 1898.0, 1897.0, 1896.0, 1895.0, 1894.0, 1893.0, 1892.0,
       1891.0, 1890.0, 1889.0, 1888.0, 1887.0, 1886.0, 1885.0, 1884.0,
       1883.0, 1882.0, 1881.0, 1880.0, 1879.0, 1878.0, 1877.0, 1876.0,
       1875.0, 1874.0, 1873.0, 1872.0, 1871.0, 1870.0, 1869.0, 1868.0,
       1867.0, 1866.0, 1865.0, 1864.0, 1863.0, 1862.0, 1861.0, 1860.0,
       1859.0, 1858.0, 1857.0, 1856.0, 1855.0, 1853.0, 1852.0, 1851.0,
       1850.0, 1849.0, 1847.0, 1846.0, 1845.0, 1844.0, 1842.0, 1841.0,
       1840.0, 1839.0, 1837.0, 1836.0, '1836', 1835.0, 1834.0, 1832.0,
       1831.0, 1830.0, 1829.0, 1828.0, 1827.0, 1826.0, 1825.0, 1823.0,
       1822.0, 1819.0, 1818.0, 1817.0, 1816.0, 1815.0, 1812.0, 1811.0,
       1810.0, 1808.0, 1807.0, 1805.0, 1804.0, 1803.0, 1802.0, 1801.0,
       1800.0, 1797.0, 1792.0, 1791.0, 1788.0, 1787.0, 1786.0, 1785.0,
       1784.0, 1783.0, 1780.0, 1779.0, 1776.0, 1771.0, 1767.0, 1764.0,
       1758.0, 1753.0, 1751.0, 1749.0, 1755.0, 1748.0, 1742.0, 1738.0,
       1733.0, 1723.0, 1721.0, 1703.0, 1700.0, 1642.0, 1638.0, 1637.0,
       1617.0, 1595.0, 1580.0, 1555.0, 1554.0, 1543.0, 500.0, 77.0, 5.0,
       '1939', '1991', '2016', '2009', '1934', '1930', '1899', '1909',
       '2012', '1916', '1963', '1908', '1900', '1876', '2011', '1994',
       '1913', '1936', '1912', '1911', '1901', '2006', '2003', '2004',
       '1962', '950s', '003?', 'date', '1998', '1996', '1995', '1989',
       '1987', '1975', '1969', '1967', '1965', '1902', '1961', '1960',
       '1959', '1958', '1957', '1956', '1952', '1945', '1942', '1950',
       '1946', '1905', '1938', 930, '1927', '1923', '1921', '1917',
       '1862', '1906', '1903', '1889', '1853'], dtype=object)

In [112]:
#Investigating the figures not years.
data.year[data.year=='003?'].index
data.iloc[data.year[data.year=='003?'].index]

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n_,time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed22,unnamed23
6203,ND.0100,2003?,003?,Unprovoked,BAHAMAS,Andros Islands,Great Guana Cay,Spearfishing,C.D. Dollar,M,Unknown,Swim fin bitten,N,Unknown,1.8 m [6'] shark,"R.D. Weeks, GSAF",ND-0100-CDDollar.pdf,Q93http://sharkattackfile.net/spreadsheets/pdf...,Q93http://sharkattackfile.net/spreadsheets/pdf...,ND.0100,ND.0100,87.0,Unkown,Unkown

In [113]:
data.year.loc[data.year[data.year=='003?'].index] = 2003

In [114]:
#Investigating the figures not years.
datesempt = data.year[data.year=='date'].index
data.iloc[data.year[data.year=='date'].index]

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n_,time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed22,unnamed23
6204,ND.0097,No date,date,Unprovoked,USA,Florida,"Key West, Monroe County",Kitesurfing,Paul Menta,M,Unknown,Hand bitten,N,Unknown,Unknown,Internet,ND-0097-PaulMenta.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0097,ND.0097,86.0,Unkown,Unkown
6205,ND.0096,No date,date,Unprovoked,REUNION,Grand'Anse,Petite-île,yachtsman in a zodiac,Unknown,M,Unknown,Survived,N,Unknown,Unknown,G. Van Grevelynghe,ND-0096-Zodiac-Reunion.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0096,ND.0096,85.0,Unkown,Unkown
6261,ND.0027,No date,date,Unprovoked,GREECE,Dodecanese Islands,Symi Island,Sponge diving,Psarofa-gomenes,M,Unknown,Head bitten,N,Unknown,Unknown,M. N. Kalafatas,ND-0027-Psarofagomenos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0027,ND.0027,28.0,Unkown,Unkown
6265,ND.0023,No date,date,Unprovoked,SOUTH AFRICA,Western Cape Province,Arniston,Wading,Madelaine Dalton,F,Unknown,Ankle bitten,N,Unknown,Unknown,"L. Green in Tavern of the Seas, p.182",ND-0023-Dalton.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0023,ND.0023,24.0,Unkown,Unkown
6266,ND.0022,No date,date,Unprovoked,AUSTRALIA,Unknown,Unknown,Pearl diving,Jaringoorli,M,Unknown,Lacerations to thigh,N,Unknown,Unknown,"Adelaide Advertiser, 1/11/1940",ND-0022-Jaringoorli.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0022,ND.0022,23.0,Unkown,Unkown
6267,ND.0021,No date,date,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Swimming in pool formed by construction of a w...,Indian boy,M,Unknown,"FATAL, leg severed",Y,Unknown,Unknown,"L. Green in South African Beachcomber, p.97",ND-0021-DurbanIndianBoy.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0021,ND.0021,22.0,Unkown,Unkown

In [115]:
#Droping as lack of data
data.drop(index=datesempt, axis=0, inplace=True )
data.reset_index(drop=True, inplace=True)

In [116]:
#Investigating the figures not years.
data.year[data.year=='950s'].index
data.iloc[data.year[data.year=='950s'].index]

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n_,time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed22,unnamed23
6201,ND.0104,1950s,950s,Unprovoked,AUSTRALIA,Torres Strait,Unknown,Helmet diving,male,M,Unknown,"No injury, helmet bitten",N,Unknown,Tiger shark,"A. Seekee & R. Callinan, Courier-Mail, 7/7/199...",ND-0104-HelmetDiver.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0104,ND.0104,89.0,Unkown,Unkown

In [117]:
data.year.loc[data.year[data.year=='950s'].index] = 1950

In [118]:
data.year.unique()

array([2018.0, 2017.0, 2016.0, 2015.0, 2014.0, 2013.0, 2012.0, 2011.0,
       2010.0, 2009.0, 2008.0, 2007.0, 2006.0, 2005.0, 2004.0, 2003.0,
       2002.0, 2001.0, 2000.0, 1999.0, 1998.0, 1997.0, 1996.0, 1995.0,
       1984.0, 1994.0, 1993.0, 1992.0, 1991.0, 1990.0, 1989.0, 1969.0,
       1988.0, 1987.0, 1986.0, 1985.0, 1983.0, 1982.0, 1981.0, 1980.0,
       1979.0, 1978.0, 1977.0, 1976.0, 1975.0, 1974.0, 1973.0, 1972.0,
       1971.0, 1970.0, 1968.0, 1967.0, 1966.0, 1965.0, 1964.0, 1963.0,
       1962.0, 1961.0, 1960.0, 1959.0, 1958.0, 1957.0, 1956.0, 1955.0,
       1954.0, 1953.0, 1952.0, 1951.0, 1950.0, 1949.0, 1948.0, 1848.0,
       1947.0, 1946.0, 1945.0, 1944.0, 1943.0, 1942.0, 1941.0, 1940.0,
       1939.0, 1938.0, 1937.0, 1936.0, 1935.0, 1934.0, 1933.0, 1932.0,
       1931.0, 1930.0, 1929.0, 1928.0, 1927.0, 1926.0, 1925.0, 1924.0,
       1923.0, 1922.0, 1921.0, 1920.0, 1919.0, 1918.0, 1917.0, 1916.0,
       1915.0, 1914.0, 1913.0, 1912.0, 1911.0, 1910.0, 1909.0, 1908.0,
       1907.0, 1906.0, 1905.0, 1904.0, 1903.0, 1902.0, 1901.0, 1900.0,
       1899.0, 1898.0, 1897.0, 1896.0, 1895.0, 1894.0, 1893.0, 1892.0,
       1891.0, 1890.0, 1889.0, 1888.0, 1887.0, 1886.0, 1885.0, 1884.0,
       1883.0, 1882.0, 1881.0, 1880.0, 1879.0, 1878.0, 1877.0, 1876.0,
       1875.0, 1874.0, 1873.0, 1872.0, 1871.0, 1870.0, 1869.0, 1868.0,
       1867.0, 1866.0, 1865.0, 1864.0, 1863.0, 1862.0, 1861.0, 1860.0,
       1859.0, 1858.0, 1857.0, 1856.0, 1855.0, 1853.0, 1852.0, 1851.0,
       1850.0, 1849.0, 1847.0, 1846.0, 1845.0, 1844.0, 1842.0, 1841.0,
       1840.0, 1839.0, 1837.0, 1836.0, '1836', 1835.0, 1834.0, 1832.0,
       1831.0, 1830.0, 1829.0, 1828.0, 1827.0, 1826.0, 1825.0, 1823.0,
       1822.0, 1819.0, 1818.0, 1817.0, 1816.0, 1815.0, 1812.0, 1811.0,
       1810.0, 1808.0, 1807.0, 1805.0, 1804.0, 1803.0, 1802.0, 1801.0,
       1800.0, 1797.0, 1792.0, 1791.0, 1788.0, 1787.0, 1786.0, 1785.0,
       1784.0, 1783.0, 1780.0, 1779.0, 1776.0, 1771.0, 1767.0, 1764.0,
       1758.0, 1753.0, 1751.0, 1749.0, 1755.0, 1748.0, 1742.0, 1738.0,
       1733.0, 1723.0, 1721.0, 1703.0, 1700.0, 1642.0, 1638.0, 1637.0,
       1617.0, 1595.0, 1580.0, 1555.0, 1554.0, 1543.0, 500.0, 77.0, 5.0,
       '1939', '1991', '2016', '2009', '1934', '1930', '1899', '1909',
       '2012', '1916', '1963', '1908', '1900', '1876', '2011', '1994',
       '1913', '1936', '1912', '1911', '1901', '2006', '2003', '2004',
       '1962', '1998', '1996', '1995', '1989', '1987', '1975', '1969',
       '1967', '1965', '1902', '1961', '1960', '1959', '1958', '1957',
       '1956', '1952', '1945', '1942', '1950', '1946', '1905', '1938',
       930, '1927', '1923', '1921', '1917', '1862', '1906', '1903',
       '1889', '1853'], dtype=object)

In [119]:
#I'm dropping the lines below year 1000 as they are outliers with few data.

In [120]:
data.drop(index = data.year[data.year==930].index, axis=0, inplace = True)
data.drop(index = data.year[data.year==500].index, axis=0, inplace = True)
data.drop(index = data.year[data.year==930].index, axis=0, inplace = True)
data.drop(index = data.year[data.year==77].index, axis=0, inplace = True)
data.drop(index = data.year[data.year==5].index, axis=0, inplace = True)
data.year.unique()

array([2018.0, 2017.0, 2016.0, 2015.0, 2014.0, 2013.0, 2012.0, 2011.0,
       2010.0, 2009.0, 2008.0, 2007.0, 2006.0, 2005.0, 2004.0, 2003.0,
       2002.0, 2001.0, 2000.0, 1999.0, 1998.0, 1997.0, 1996.0, 1995.0,
       1984.0, 1994.0, 1993.0, 1992.0, 1991.0, 1990.0, 1989.0, 1969.0,
       1988.0, 1987.0, 1986.0, 1985.0, 1983.0, 1982.0, 1981.0, 1980.0,
       1979.0, 1978.0, 1977.0, 1976.0, 1975.0, 1974.0, 1973.0, 1972.0,
       1971.0, 1970.0, 1968.0, 1967.0, 1966.0, 1965.0, 1964.0, 1963.0,
       1962.0, 1961.0, 1960.0, 1959.0, 1958.0, 1957.0, 1956.0, 1955.0,
       1954.0, 1953.0, 1952.0, 1951.0, 1950.0, 1949.0, 1948.0, 1848.0,
       1947.0, 1946.0, 1945.0, 1944.0, 1943.0, 1942.0, 1941.0, 1940.0,
       1939.0, 1938.0, 1937.0, 1936.0, 1935.0, 1934.0, 1933.0, 1932.0,
       1931.0, 1930.0, 1929.0, 1928.0, 1927.0, 1926.0, 1925.0, 1924.0,
       1923.0, 1922.0, 1921.0, 1920.0, 1919.0, 1918.0, 1917.0, 1916.0,
       1915.0, 1914.0, 1913.0, 1912.0, 1911.0, 1910.0, 1909.0, 1908.0,
       1907.0, 1906.0, 1905.0, 1904.0, 1903.0, 1902.0, 1901.0, 1900.0,
       1899.0, 1898.0, 1897.0, 1896.0, 1895.0, 1894.0, 1893.0, 1892.0,
       1891.0, 1890.0, 1889.0, 1888.0, 1887.0, 1886.0, 1885.0, 1884.0,
       1883.0, 1882.0, 1881.0, 1880.0, 1879.0, 1878.0, 1877.0, 1876.0,
       1875.0, 1874.0, 1873.0, 1872.0, 1871.0, 1870.0, 1869.0, 1868.0,
       1867.0, 1866.0, 1865.0, 1864.0, 1863.0, 1862.0, 1861.0, 1860.0,
       1859.0, 1858.0, 1857.0, 1856.0, 1855.0, 1853.0, 1852.0, 1851.0,
       1850.0, 1849.0, 1847.0, 1846.0, 1845.0, 1844.0, 1842.0, 1841.0,
       1840.0, 1839.0, 1837.0, 1836.0, '1836', 1835.0, 1834.0, 1832.0,
       1831.0, 1830.0, 1829.0, 1828.0, 1827.0, 1826.0, 1825.0, 1823.0,
       1822.0, 1819.0, 1818.0, 1817.0, 1816.0, 1815.0, 1812.0, 1811.0,
       1810.0, 1808.0, 1807.0, 1805.0, 1804.0, 1803.0, 1802.0, 1801.0,
       1800.0, 1797.0, 1792.0, 1791.0, 1788.0, 1787.0, 1786.0, 1785.0,
       1784.0, 1783.0, 1780.0, 1779.0, 1776.0, 1771.0, 1767.0, 1764.0,
       1758.0, 1753.0, 1751.0, 1749.0, 1755.0, 1748.0, 1742.0, 1738.0,
       1733.0, 1723.0, 1721.0, 1703.0, 1700.0, 1642.0, 1638.0, 1637.0,
       1617.0, 1595.0, 1580.0, 1555.0, 1554.0, 1543.0, '1939', '1991',
       '2016', '2009', '1934', '1930', '1899', '1909', '2012', '1916',
       '1963', '1908', '1900', '1876', '2011', '1994', '1913', '1936',
       '1912', '1911', '1901', '2006', '2003', '2004', '1962', '1998',
       '1996', '1995', '1989', '1987', '1975', '1969', '1967', '1965',
       '1902', '1961', '1960', '1959', '1958', '1957', '1956', '1952',
       '1945', '1942', '1950', '1946', '1905', '1938', '1927', '1923',
       '1921', '1917', '1862', '1906', '1903', '1889', '1853'],
      dtype=object)

**investigating Nulle values**

In [121]:
data.isnull().sum()

casenumber              0
date                    0
year                    0
type                    0
country                 0
area                    0
location                0
activity                0
name                    0
sex                     0
age                     0
injury                  0
fatal_y_n_              0
time                    0
species                 0
investigatororsource    0
pdf                     0
hrefformula             0
href                    0
casenumber.1            0
casenumber.2            0
originalorder           0
unnamed22               0
unnamed23               0
dtype: int64

In [122]:
#alright.

In [123]:
data.head()

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n_,time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed22,unnamed23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,Unkown,Unkown
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,Unknown,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,Unkown,Unkown
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,Unknown,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,Unkown,Unkown
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,Unknown,Minor injury to lower leg,N,Unknown,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,Unkown,Unkown
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,Unknown,Lacerations to leg & hand shark PROVOKED INCIDENT,N,Unknown,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,Unkown,Unkown

**Investigating typos or other errors**

In [124]:
data.head()

,casenumber,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_y_n_,time,species,investigatororsource,pdf,hrefformula,href,casenumber.1,casenumber.2,originalorder,unnamed22,unnamed23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,Unkown,Unkown
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,Unknown,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,Unkown,Unkown
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,Unknown,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,Unkown,Unkown
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,Unknown,Minor injury to lower leg,N,Unknown,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,Unkown,Unkown
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,Unknown,Lacerations to leg & hand shark PROVOKED INCIDENT,N,Unknown,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,Unkown,Unkown

In [125]:
data.type.unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', 'Boatomg'], dtype=object)

In [126]:
# "Boatomg" is a typo for "Boating"
data.type[data.type=="Boatomg"]

1152    Boatomg
Name: type, dtype: object

In [127]:
data.type.iloc[data.type[data.type=="Boatomg"].index[0]] = 'Boating'

In [128]:
#No more errors with type coll
data.type.unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster'], dtype=object)

In [129]:
#Many approximations but seems that there are uniques and no apparent typo.
data.country.sort_values().unique()

array([' PHILIPPINES', ' TONGA', 'ADMIRALTY ISLANDS', 'AFRICA', 'ALGERIA',
       'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'ANDAMAN ISLANDS',
       'ANGOLA', 'ANTIGUA', 'ARGENTINA', 'ARUBA', 'ASIA?',
       'ATLANTIC OCEAN', 'AUSTRALIA', 'AZORES', 'BAHAMAS', 'BAHREIN',
       'BANGLADESH', 'BARBADOS', 'BAY OF BENGAL', 'BELIZE', 'BERMUDA',
       'BRAZIL', 'BRITISH ISLES', 'BRITISH NEW GUINEA',
       'BRITISH VIRGIN ISLANDS', 'BRITISH WEST INDIES', 'BURMA',
       'Between PORTUGAL & INDIA', 'CANADA', 'CAPE VERDE',
       'CARIBBEAN SEA', 'CAYMAN ISLANDS', 'CENTRAL PACIFIC', 'CEYLON',
       'CEYLON (SRI LANKA)', 'CHILE', 'CHINA', 'COLUMBIA', 'COMOROS',
       'COOK ISLANDS', 'COSTA RICA', 'CRETE', 'CROATIA', 'CUBA',
       'CURACAO', 'CYPRUS', 'Coast of AFRICA', 'DIEGO GARCIA', 'DJIBOUTI',
       'DOMINICAN REPUBLIC', 'ECUADOR', 'EGYPT', 'EGYPT ',
       'EGYPT / ISRAEL', 'EL SALVADOR', 'ENGLAND',
       'EQUATORIAL GUINEA / CAMEROON', 'FALKLAND ISLANDS',
       'FEDERATED STATES OF MICRONESIA', 'FIJI', 'FRANCE',
       'FRENCH POLYNESIA', 'Fiji', 'GABON', 'GEORGIA', 'GHANA',
       'GRAND CAYMAN', 'GREECE', 'GREENLAND', 'GRENADA', 'GUAM',
       'GUATEMALA', 'GUINEA', 'GULF OF ADEN', 'GUYANA', 'HAITI',
       'HONDURAS', 'HONG KONG', 'ICELAND', 'INDIA', 'INDIAN OCEAN',
       'INDIAN OCEAN?', 'INDONESIA', 'IRAN', 'IRAN / IRAQ', 'IRAQ',
       'IRELAND', 'ISRAEL', 'ITALY', 'ITALY / CROATIA', 'JAMAICA',
       'JAPAN', 'JAVA', 'JOHNSTON ISLAND', 'KENYA', 'KIRIBATI', 'KOREA',
       'KUWAIT', 'LEBANON', 'LIBERIA', 'LIBYA', 'MADAGASCAR', 'MALAYSIA',
       'MALDIVE ISLANDS', 'MALDIVES', 'MALTA', 'MARSHALL ISLANDS',
       'MARTINIQUE', 'MAURITIUS', 'MAYOTTE', 'MEDITERRANEAN SEA',
       'MEXICO', 'MEXICO ', 'MICRONESIA', 'MID ATLANTIC OCEAN',
       'MID-PACIFC OCEAN', 'MONACO', 'MONTENEGRO', 'MOZAMBIQUE',
       'NAMIBIA', 'NETHERLANDS ANTILLES', 'NEVIS', 'NEW BRITAIN',
       'NEW CALEDONIA', 'NEW GUINEA', 'NEW ZEALAND', 'NICARAGUA',
       'NICARAGUA ', 'NIGERIA', 'NORTH ATLANTIC OCEAN',
       'NORTH ATLANTIC OCEAN ', 'NORTH PACIFIC OCEAN', 'NORTH SEA',
       'NORTHERN ARABIAN SEA', 'NORTHERN MARIANA ISLANDS', 'NORWAY',
       'OCEAN', 'OKINAWA', 'PACIFIC OCEAN', 'PACIFIC OCEAN ', 'PALAU',
       'PALESTINIAN TERRITORIES', 'PANAMA', 'PAPUA NEW GUINEA',
       'PARAGUAY', 'PERSIAN GULF', 'PERU', 'PHILIPPINES', 'PORTUGAL',
       'PUERTO RICO', 'RED SEA', 'RED SEA / INDIAN OCEAN', 'RED SEA?',
       'REUNION', 'REUNION ISLAND', 'ROATAN', 'RUSSIA', 'SAMOA',
       'SAN DOMINGO', 'SAUDI ARABIA', 'SCOTLAND', 'SENEGAL', 'SEYCHELLES',
       'SIERRA LEONE', 'SINGAPORE', 'SLOVENIA', 'SOLOMON ISLANDS',
       'SOLOMON ISLANDS / VANUATU', 'SOMALIA', 'SOUTH AFRICA',
       'SOUTH ATLANTIC OCEAN', 'SOUTH CHINA SEA', 'SOUTH KOREA',
       'SOUTH PACIFIC OCEAN', 'SOUTHWEST PACIFIC OCEAN', 'SPAIN',
       'SRI LANKA', 'ST HELENA, British overseas territory',
       'ST. MAARTIN', 'ST. MARTIN', 'SUDAN', 'SUDAN?', 'SWEDEN', 'SYRIA',
       'Seychelles', 'Sierra Leone', 'TAIWAN', 'TANZANIA', 'TASMAN SEA',
       'THAILAND', 'THE BALKANS', 'TOBAGO', 'TONGA', 'TRINIDAD & TOBAGO',
       'TUNISIA', 'TURKEY', 'TURKS & CAICOS', 'TUVALU',
       'UNITED ARAB EMIRATES', 'UNITED ARAB EMIRATES (UAE)',
       'UNITED KINGDOM', 'URUGUAY', 'USA', 'Unknown', 'VANUATU',
       'VENEZUELA', 'VIETNAM', 'WEST INDIES', 'WESTERN SAMOA', 'YEMEN',
       'YEMEN '], dtype=object)

In [130]:
data.country = data.country.str.replace(" ","").replace("?","")
data.country.sort_values().unique()

array(['ADMIRALTYISLANDS', 'AFRICA', 'ALGERIA', 'AMERICANSAMOA',
       'ANDAMAN/NICOBARISLANDAS', 'ANDAMANISLANDS', 'ANGOLA', 'ANTIGUA',
       'ARGENTINA', 'ARUBA', 'ASIA?', 'ATLANTICOCEAN', 'AUSTRALIA',
       'AZORES', 'BAHAMAS', 'BAHREIN', 'BANGLADESH', 'BARBADOS',
       'BAYOFBENGAL', 'BELIZE', 'BERMUDA', 'BRAZIL', 'BRITISHISLES',
       'BRITISHNEWGUINEA', 'BRITISHVIRGINISLANDS', 'BRITISHWESTINDIES',
       'BURMA', 'BetweenPORTUGAL&INDIA', 'CANADA', 'CAPEVERDE',
       'CARIBBEANSEA', 'CAYMANISLANDS', 'CENTRALPACIFIC', 'CEYLON',
       'CEYLON(SRILANKA)', 'CHILE', 'CHINA', 'COLUMBIA', 'COMOROS',
       'COOKISLANDS', 'COSTARICA', 'CRETE', 'CROATIA', 'CUBA', 'CURACAO',
       'CYPRUS', 'CoastofAFRICA', 'DIEGOGARCIA', 'DJIBOUTI',
       'DOMINICANREPUBLIC', 'ECUADOR', 'EGYPT', 'EGYPT/ISRAEL',
       'ELSALVADOR', 'ENGLAND', 'EQUATORIALGUINEA/CAMEROON',
       'FALKLANDISLANDS', 'FEDERATEDSTATESOFMICRONESIA', 'FIJI', 'FRANCE',
       'FRENCHPOLYNESIA', 'Fiji', 'GABON', 'GEORGIA', 'GHANA',
       'GRANDCAYMAN', 'GREECE', 'GREENLAND', 'GRENADA', 'GUAM',
       'GUATEMALA', 'GUINEA', 'GULFOFADEN', 'GUYANA', 'HAITI', 'HONDURAS',
       'HONGKONG', 'ICELAND', 'INDIA', 'INDIANOCEAN', 'INDIANOCEAN?',
       'INDONESIA', 'IRAN', 'IRAN/IRAQ', 'IRAQ', 'IRELAND', 'ISRAEL',
       'ITALY', 'ITALY/CROATIA', 'JAMAICA', 'JAPAN', 'JAVA',
       'JOHNSTONISLAND', 'KENYA', 'KIRIBATI', 'KOREA', 'KUWAIT',
       'LEBANON', 'LIBERIA', 'LIBYA', 'MADAGASCAR', 'MALAYSIA',
       'MALDIVEISLANDS', 'MALDIVES', 'MALTA', 'MARSHALLISLANDS',
       'MARTINIQUE', 'MAURITIUS', 'MAYOTTE', 'MEDITERRANEANSEA', 'MEXICO',
       'MICRONESIA', 'MID-PACIFCOCEAN', 'MIDATLANTICOCEAN', 'MONACO',
       'MONTENEGRO', 'MOZAMBIQUE', 'NAMIBIA', 'NETHERLANDSANTILLES',
       'NEVIS', 'NEWBRITAIN', 'NEWCALEDONIA', 'NEWGUINEA', 'NEWZEALAND',
       'NICARAGUA', 'NIGERIA', 'NORTHATLANTICOCEAN', 'NORTHERNARABIANSEA',
       'NORTHERNMARIANAISLANDS', 'NORTHPACIFICOCEAN', 'NORTHSEA',
       'NORWAY', 'OCEAN', 'OKINAWA', 'PACIFICOCEAN', 'PALAU',
       'PALESTINIANTERRITORIES', 'PANAMA', 'PAPUANEWGUINEA', 'PARAGUAY',
       'PERSIANGULF', 'PERU', 'PHILIPPINES', 'PORTUGAL', 'PUERTORICO',
       'REDSEA', 'REDSEA/INDIANOCEAN', 'REDSEA?', 'REUNION',
       'REUNIONISLAND', 'ROATAN', 'RUSSIA', 'SAMOA', 'SANDOMINGO',
       'SAUDIARABIA', 'SCOTLAND', 'SENEGAL', 'SEYCHELLES', 'SIERRALEONE',
       'SINGAPORE', 'SLOVENIA', 'SOLOMONISLANDS',
       'SOLOMONISLANDS/VANUATU', 'SOMALIA', 'SOUTHAFRICA',
       'SOUTHATLANTICOCEAN', 'SOUTHCHINASEA', 'SOUTHKOREA',
       'SOUTHPACIFICOCEAN', 'SOUTHWESTPACIFICOCEAN', 'SPAIN', 'SRILANKA',
       'ST.MAARTIN', 'ST.MARTIN', 'STHELENA,Britishoverseasterritory',
       'SUDAN', 'SUDAN?', 'SWEDEN', 'SYRIA', 'Seychelles', 'SierraLeone',
       'TAIWAN', 'TANZANIA', 'TASMANSEA', 'THAILAND', 'THEBALKANS',
       'TOBAGO', 'TONGA', 'TRINIDAD&TOBAGO', 'TUNISIA', 'TURKEY',
       'TURKS&CAICOS', 'TUVALU', 'UNITEDARABEMIRATES',
       'UNITEDARABEMIRATES(UAE)', 'UNITEDKINGDOM', 'URUGUAY', 'USA',
       'Unknown', 'VANUATU', 'VENEZUELA', 'VIETNAM', 'WESTERNSAMOA',
       'WESTINDIES', 'YEMEN'], dtype=object)

In [131]:
#Same with Area. 
data.area.describe()

count        6278
unique        823
top       Florida
freq         1034
Name: area, dtype: object

In [132]:
data.area = data.area.str.replace(" ","")
data.area.describe()

count        6278
unique        795
top       Florida
freq         1035
Name: area, dtype: object

In [133]:
#Let's categorise the activities
data.activity.unique()

array(['Paddling', 'Standing', 'Surfing', ...,
       'Crew swimming alongside their anchored ship',
       '4 men were bathing', 'Wreck of  large double sailing canoe'],
      dtype=object)

In [134]:
Activities_Count=[]
for e in data.activity.index:
    if 'surf' in str(data.activity[e].lower()):
        Activities_Count.append('surf')
        
    elif 'swim' in str(data.activity[e].lower()):
        Activities_Count.append('swimming')
        
    elif 'diving' in str(data.activity[e].lower()):
        Activities_Count.append('swimming')

    elif 'Wading' in str(data.activity[e].lower()):
        Activities_Count.append('fishing')

    elif 'bath' in str(data.activity[e].lower()):
        Activities_Count.append('swimming')

    elif 'snorkeling' in str(data.activity[e].lower()):
        Activities_Count.append('swimming')
        
        
    elif 'boat' in str(data.activity[e].lower()):
        Activities_Count.append('boating')

    elif 'paddl' in str(data.activity[e].lower()):
        Activities_Count.append('Paddling')

    elif 'kayak' in str(data.activity[e].lower()):
        Activities_Count.append('boating')  
        
    elif 'canoe' in str(data.activity[e].lower()):
        Activities_Count.append('boating')        
        
    elif 'fish' in str(data.activity[e].lower()):
        Activities_Count.append('fishing')

    elif 'fell' in str(data.activity[e].lower()):
        Activities_Count.append('falling')        
        
        
    else: Activities_Count.append('other')
data['Activities_Count'] = Activities_Count

In [135]:
#No more recognisable pattern 
data.activity[data.Activities_Count == 'other'].unique()

array(['Standing', 'Walking', 'Feeding sharks', 'Boogie boarding',
       'Body boarding', 'Wading', 'Unknown', 'SUP', 'Skimboarding',
       'Touching a shark', 'Attempting to lasso a shark', 'Photo shoot',
       'Kakaying', 'Washing hands', 'Grabbing shark for a selfie',
       'Tagging sharks', 'Floating', 'SUP Foil boarding', 'Lobstering',
       'Floating in tube', 'Teasing a shark', 'Feeding stingrays?',
       'Sea disaster', 'Treading water', 'Body boarding ',
       'Playing in the water', 'Body Boarding', 'Playing',
       'Attempting to rescue a shark', 'Photographing the shark',
       'Hand feeding sharks', 'Sitting in the water',
       'Transatlantic Rowing', 'Rowing', 'Filming',
       'Standing in inner tube', 'Playing with an air mattress',
       'Kite boarding', 'Petting a shark', 'Kneeling in the water',
       'Shark watching', 'Sailing', 'Filming a documentary',
       'Kiteboarding', 'Casting a net', 'Wrangling a shark',
       'Attempting to free the shark', 'Boogie Boarding',
       'Dragging stranded shark into deeper water', 'Bodyboarding',
       'Attempting to rescue an injured & beached shark',
       'Jumping in the waves', 'Standing, collecting sea stars',
       'Floating ', 'Jet skiing', 'Standing or boogie boardin',
       'Kite Boarding', 'Standing, holding shark pup', 'Wakeboarding',
       'Attempting to fix motor', 'Rescuing', 'Measuring sharks',
       'Washing his feet', 'Crawling', 'Air Disaster', 'Crabbing',
       'Yacht race', 'Sinking of the cargo ship Mark Jason',
       'Rowing an inflatable dinghy', 'Sea Disaster',
       "Accidentally stood on hooked shark's tail before attempting to gut it ",
       'Attempting to chase shark out to sea',
       'The 426-ton cargo ship Mia, laden with cement, capsized in heavy seas ',
       'Wading?', 'Jumping', 'Jumped into the water',
       'Removing hook from shark', 'Reviving a sedated shark',
       'Shark tagging', 'Playing on a sandbar', 'Murder', 'Shrimping',
       'Playing soccer in the water', 'Lifesaving drill',
       'Touching sharks',
       'Competing in the Woodvale Atlantic Rowing Race',
       'Removing shark from net',
       'Boogie boarding, kicked at object in the water',
       "Crouching in 2' of water",
       'Attempting to drive shark away from sailing regatta',
       'Swept out to sea by the tsunami, she clung  to a log for 24 hours',
       'Chumming for white sharks',
       'Air disaster. Flash Airlines Boeing 737 crashed into the Red Sea',
       'Standing, stepped on shark', 'Killing  sharks',
       'Petting captive sharks', 'Wading, when he stepped on the shark',
       'Attempting to retreive a dinghy', 'Floating on a raft',
       'Collecting beche-de-mer', 'Body-boarding', 'Kite-Boarding',
       'Walking in shallows', 'Floating face-down in knee-deep water',
       'Hiking on the beach', 'Batin', 'Attempting to catch a crocodile',
       "Sinking of the 40' Esperanza off St. Maartin with 36 refugees on board",
       'Shipwrecked', 'Conducting research',
       'Attempting to illegally enter the USA',
       'Air Disaster - Piper aircraft crashed into the sea, killing all on board',
       'Boogie boarding / wading', 'Feeding prawns to captive sharks',
       "Lying prone in 2' of water", 'Adrift in a life jacket',
       'Splashing / wading',
       "Scientific research (Dr. Sonny Gruber's student)", 'Cruising',
       'Splashing', 'Moving a shark in a net ', 'Towing rubber dinghy',
       'Floating on raft', 'Rowing ', 'Watching seals',
       'Attempting to attract dolphins',
       'Dived naked into the water on a bet',
       'Boeing 757 enroute from Porta Plata plunged into the sea',
       'Chumming for sharks', 'Playing / standing', 'On a float',
       '"Riding waves on a board"', 'Playing / jumping', 'Murder victim',
       'Commercial diver (submerged or treading water)',
       'Adrift on refugee raft', 'Jumped off rocks into white water',
       'Removing shark from tank in nightclub ',
       'Playing volleyball with friends', 'Stamding',
       'Watching the shark feeding on a dead pinniped',
       'Riding floatation device', 'Floating on his back', '   ',
       'Finning the shark that bit him', 'Board sailing',
       'Wading, knocked down & swept away by large waves',
       'Observing a shark feeding on a carcass of a humpback whale',
       "Filming 5' blue shark", 'Playing ',
       'The Christie V sank on 11/6/1988, survivors were adrift on a dinghy',
       'The MV Dona Marilyn sank in Typhoon Unsang with the loss of 389 lives',
       'Sittting in water with his child', 'pêcheur de bichiques',
       'Standing ', "Attempting to lasso shark's tail",
       'Returning to shore, collided with shark',
       'Vessel caught fire & capsized, survivors in the water',
       'Dropping anchor',
       'The inter-island ferry Vula sank in heavy weather',
       'Jumped into the water from a cliff',
       'Adrift after ditching plane in the sea', 'NSB Meshing',
       'Racing ski', 'Playing in knee-deep water',
       'Investigating shark sighting',
       'Sea disaster, foundering of the cargo vessle M/V Dorolonda',
       'Towing her sister on plastic ski board', 'Steinhart Aquarium',
       '14 m prawn trawler New Venture capsized  & sank in heavy seas Three people in the water',
       'Floating on air mattress', 'Water-skiing', 'Ran into the water',
       'In waist-deep water',
       'Inspecting teeth of supposedly dead (hooked & shot) shark',
       'Catching sardines', 'Foundering of the Israeli freighter Mezada',
       'Standing / Wading', 'Exercising his dog in the shallows',
       'Resting on body board', 'Gaffing netted shark',
       'Murdered by Thai pirates', 'Floating on inner tube raft',
       'Floating on an inflatable raft',
       'Their 9 m launch was run down by a 25,000-ton Japanese freighter  on the night of 3-11-1977 & they drifted, clinging to an icebox for 2 days',
       'Thrashing the water / imitating the shark victim from "Jaws"',
       'Shipwreck',
       '3,909-ton Panamanian freighter Chieh Lee sank in a typhoon',
       'Attempting to drive shark away from the beach',
       'Filming & feeding captive sharks',
       'Floating on a small orange raft ', 'Floating in inner tube',
       'Attempting to drag hooked shark ashore by its tail',
       'Ferry capsized',
       'Adrift after the sinking of the motor yacht Princess Dianne',
       'Sitting', 'Crabbing (spearing crabs)', 'Sitting in shallows',
       'Wreck of the 1689-ton Portuguese  coaster Angoche',
       'Motor launch Baby Princesa capsized with 22 people on board',
       'Air disaster', 'Attempted to return injured shark to the sea',
       'Washing cooking pans', 'Washing clothes on stairs',
       'Netting pilchards', 'Sight-seeing', 'Feeding mullet to sharks',
       'Wreck of the Storm King',
       'Playing with a frisbee in the shallows', 'Leaving the water',
       'Clamming', 'Schooner sank during a storm',
       'Wading & pushing dinghy toward  the shallows',
       'Picking up shark by the tail',
       'Sinking of the M/V Mindoro during a typhoon',
       'Standing on sandbar', 'Pulling shark from the water',
       'Photographing sharks underwater using Scuba',
       'Beach seine netting', 'Feeding a shark',
       'Vehicle plunged over cliff into the water', 'Netting sharks',
       'Attacked shark with fists', 'Killing a shark',
       'Sinking of the dredge World Atlas',
       'The passenger ship Pioneer Cebu  capsized & sank in Typhoon Irma',
       'Overturned skiff', 'Helping men land a shark',
       'wreck of the State Oil Company ship Permina',
       'Colombian  (Avianca) DC-4 airliner plunged into the sea 5 minutes after takeoff',
       'Hauling dead shark aboard, when another shark leapt out of the water & bit him',
       'Argentine Air Force C-54', 'Arsinoe, a French tanker',
       'Attempting to anesthetize shark', 'Walking on reef',
       'Aircraft exploded', 'Dangling feet in the water',
       'Collecting marine specimens', 'Standing in waist-deep water',
       'Filming underwater, carrying powerhead',
       'Floating on his back in an inner tube',
       'Searching for remains of  Dr. Marais',
       'Yacht Gooney Bird foundered, 4 survivors on raft',
       'Conducting a promotional film project for the Gemini space program (a practice astronaut recovery)',
       'Lying in 2 feet of water',
       'Greek steamship Lakonia caught fire, 98 of her 646 passengers, and 30 of her crew of 376 perished',
       'Helping friend land hooked shark',
       'Treading water while alongside capsized yacht',
       'Catching sharks under government contract',
       'Testing anti-shark cage',
       'Seining for bait, standing in chest-deep water',
       'Washed into sea while picking opihi',
       'The 500-ton coastal trader Polurrian foundered ',
       'S.S. Marine Sulphur Queen, laden with molten sulphur was bound from Beaumont, Texas for Norfolk, VA, when she disappeared with 39 on board',
       'Abandoning burning ship Captain George in raging seas',
       'Adrift after wave swamped engine',
       'When  a deckhand  jumped overboard, McIver dived after him with a rescue line.',
       'Finning the shark', 'Dived from inner-tube',
       'U.S. Airforce crewman reported missing after bailing out of jet',
       'On a "shark hunt"', 'Rolled off raft', 'Escaping from Alacatraz',
       'Washing', '25-foot cabin cruiser Happy Jack sank in heavy seas',
       'Splashing ', 'Gathering shells', 'Attaching a line at sea',
       'Walking in chest-deep water',
       'Cargo ship Dara sank after collision with another ship during a severe storm',
       'Floating on back', 'Cleaning a tank',
       'Collecting aquarium specimens', 'Pacific Seafarer of US Navy',
       'Ocean racing', 'Light aircraft ditched at sea',
       'Hand lining for shad', 'Ejected from F3H-2 aircraft ',
       'Collecting shells',
       'Cargo ship El Gamil entroute Suez to Yemen (Aden) when her cargo shifted and she sank. 19 Egyption sailors jumped into the water and swam for several hours before being bitten by sharks',
       'R5D aircraft went down with 29 on board',
       'Air disaster: crash of Air France Super Constellation ',
       'Aircraft crashed into sea', 'Standing in knee-deep water',
       'Holding shark on leader & dangling it above the water',
       'Helping angler land a shark', 'Pulling raft out to ride to shore',
       'Testing classified underwater electronic gear for Raytheon Corporation, vessel torn apart by explosion',
       'S2F-1 airplane crashed immediately after carrier take-off',
       'Portuguese Airliner with 9 people aboard went down. ',
       'Standing, watching seine netters',
       'Dived from dinghy to retrieve oar in heavy seas',
       'ship M.V. Rizal sank during typhoon',
       'Standing in chest-deep water',
       'National Airlines DC7B enroute from Miami to Los Angeles with 42 or 46 people on board went down in heavy fog',
       'Dived overboard to retrieve dinghy',
       "Adrift, hanging onto cushion, after his 17' skiff ran out of gas & capsized 3 miles from shore",
       'Gigging for flounder', 'On inflatable raft',
       'The 240-ton motor vessel Pilar II with 100 people on board capsized in high winds & rough seas',
       'Pulling anchor', 'Dragging stranded shark ashore',
       'Columbian petrol barge Rio Atrato burned and sank',
       'Jumped overboard to rescue a man', 'Working prawn net',
       'In deep water about 100 yards from his ship',
       'Dragging banana seeds through the shallows',
       'Cleaning hull of ship ', 'Slapped shark on tail as it swam by',
       '"Climbing up to ship after repairing the stern in water"',
       'U.S. Airforce C124 enroute from Hickham Air Base to Japan went down. The 3 survivors fashioned raft from mailbags  & were rescued 3 days after the crash.',
       'Placed hand in disemboweled shark\x92s jaws',
       'Air/Sea Disaster Pan-American Airlines Stratocruiser with 44 people onboard crashed into the sea',
       'Attempting to net shark in shark channel',
       'M.V. Tropical sank. Sole survivor rode oil drums for 8 days without food or water.',
       '3 men & 2 boys picked up wearing life jackets and with inner tube',
       'Climbing back on ship',
       'Attempting to kill a shark with explosives', 'Air/Sea Disaster',
       'Attempting to set underwater endurance record',
       'Removing shark from net ',
       '"Flying Tiger" transport plane went down with 5 men onboard',
       'Hunting turtle',
       "Competing in U/W endurance record, standing beside drum in 10' of water",
       'Rowing toward snapper grounds',
       'Hunting lobsters in 2.4 m of water',
       'Crossing the bay at the ford',
       'American freighter Mormackite, bound from Buenos Aires for Baltimore, capsized & sank in heavy seas',
       'Grabbed shark & threw it on deck', 'Crouching in the water',
       'Aircaft exploded',
       'Royal Hawaiian skymaster DC-6B aircraft went down with  58 passenger & crew',
       'Accidentally dragged overboard from the sampan Holokahana into school of yellowfin tuna',
       'Retrieving bait box that had fallen overboard',
       "Adrift on a 4'  raft for 32 days",
       'Bitten while cutting shark from net',
       'Went to aid of child being menaced by the shark',
       'Shipwrecked; adrift on raft for 2 days & 2 nights',
       'cargo ship Southern Isle sank at 04h00',
       'Body found on deserted luxury yacht, 38\x92 Christine',
       'Swept off deck of S.S.Frontenac enroute from West Indies to US',
       'Survived crash of two-engine  C-46 transport plane carrying 62 migrant workers from Puerto Rico to USA ',
       'Suicide', 'Sitting on side of dinghy mending a net',
       'Defecating in water beneath the docks', 'Bending over',
       'Sea Disaster, sinking of the motorship Wingate',
       "Lying on the bottom of a 16' dinghy", 'No details',
       'Examining netted shark, that had been shot',
       'Lifesaving exhibition', 'Treading water, waiting for a wave',
       'Air/Sea Disaster involving C-54 Air Force Transport No. 2686 with 37 on board',
       'Leicester abandoned in a hurricane', 'Spearing a shark',
       'C47 aircraft carrying 5,000 lbs of ice ditched in the sea',
       'Underwater photography', 'Jumped overboard ',
       'Attempting to ride a shark', 'Jumping in swells',
       'Bitten after dhow shipwrecked',
       'American cruiser Indianapolis torpedoed & sunk by the Japanese submarine I-58',
       '90 European civilians, many women & children, were placed on the deck of a Japanese submarine that submerged when it was well offshore',
       'USS Gambier Bay CVE-73  shelled & sunk  at 09h57 on 10/24/1944, by Japanes fleet enroute to attack the Allied landing force at Leyte.',
       'Parachuted into Pacific',
       'Japanese POW ship Arisan Maru with 1800 American prisoners of war on board bound for slave labor camps was torpedoed by an American submarine',
       'Washed overboard by swell', 'Adrift on raft',
       'B-24 aircraft crashed  into the sea',
       'The Cuban freighter Libertad was torpedoed and sunk by the German submarine U-129',
       'The 6711-ton American freighter & troop transport Cape San Juan was torpedoed by the Japanese submarine I-21',
       'Treading water after survivng crash of the US Navy airship K-74 that was hit by the German submarine U-134',
       'B-24 crashed during a search mission. Survivors in raft for 47 days ',
       'S2N Navy scout plane went down, E.H. Almond & Lieut A.G. Reading in water',
       'Hospital Ship Centaur torpedoed & sunk by the Japanese submarine I-177',
       'ship torpedoed 400 miles off the African coas. Man was clinging to hatch cover',
       'The 21,516-ton troopship Empress of Canada torpedoed and sunk by the Italian submarine Leonardo da Vinci',
       'The 3540-ton Alfonso Penna was torpedoed & sunk by the Italian submarine Barbarigo',
       'Known as The Battle of the Bismarck Sea :  8 Japanese destroyers guarding a convoy of 8 transports were attacked by 129 Allied fighters, 207 bombers & 3 squadrons of the Royal Australian Air Force. ',
       'The USS Wahoo torpedoes & sank the Japanese troop transport Buyo Maru',
       'U-177 torpedoed & sank the troopship Nova Scotia',
       'Thrown from destroyer when shell hit',
       'Explosion & sinking of the USS Juneau after being torpedoed by the submarine  I-85',
       'In rubber dinghy with Captain Eddie Rickenbacker for 21 days. ',
       'His ship, the US destroyer Duncan DD 485, had been  sunk by crossfire from Japanese warships. He was wearing a kapok lifejacket & using 2 aluminum powder tins for floatation  ',
       'The 6015-ton British ship Empire Avocet was torpedoed by the German submarine U-125. ',
       'Adrift on life raft',
       'Japanese aircraft shot down. He was one of two survivors rescued by the U.S. destroyer Mugford',
       'The SS Potlach was torpedoed & sunk by the U-153 on 27-Jun-1942. ',
       'Sculling',
       'A 210-ton brig was sunk by a Japanese submarine. Some of the survivors were machine-gunned & some were taken by sharks',
       'Plane crashed in water, men in life raft',
       'H.M.S. Cornwall & H.M.S.Dorsetshire sunk by Japanese dive bombers. Officers & men in the water formed a circle with 60 of their dead in the center for 36 hours',
       'Esso Bolivar was torpedoed & shelled by the German submarine U-126',
       "Captured Allied soldiers were squeezed into 3' bamboo pig baskets & fed to waiting sharks",
       'Jumped overboard from torpedoed Panamanian freighter',
       'Ditched plane in the sea & were adrift on a rubber life raft. ',
       "Days before the surrender of Singapore, the 3 men escaped to Sumatra where they acquired a 17' dinghy. After 125 days at sea they drifted back to Sumatra",
       'Torpedoed & burning British  light cruiser with a crew of 450 men',
       'HMAS Parramatta torpedoed & sunk by the U-559',
       'British cruiser Dunedin torpedoed & sunk by the U-124',
       'German raider Kormoran was sunk in an engagement with HMAS Sydney',
       'SS Ethel Skakel foundered in Central America Hurricane of 1941',
       'Ditched aircraft, 3 men in the water. Swam for 31 hours',
       'The troopship Britannia was sunk by the German raider Thor',
       'Seine netting',
       'Rescuing seaman after ship sunk by German raider',
       'Adrift on raft after their ship was sunk by an Axis raider ',
       'Standing on sandbank', 'Dived into the water', 'male',
       'Standing in water with child in her arms',
       'Japanese freighter Bokuyo Maru burned & sank',
       'Washed off freighter Huncliff by a freak wave',
       'Dived for a coin', 'Scooping prawns',
       'She was on a ship that was torpedoes & was in the water awaiting rescue',
       'The schooner Elizabeth, bound from Bluefields, Nicaragua to the river port of San Carlos foundered',
       'Watching seine netters with friends, one of whom picked up a netted shark',
       'Tzenny Chandris, a Greek freighter laden with scrap iron, foundered in heavy weather',
       "12 of the Penang's crew were returning to the ship when their 12' dinghy capsized",
       "Holding shark's tail ", 'Wreck of a sampam', 'Swept overboard',
       'Touching the mouth of a supposedly dead shark',
       'Put foot inside a landed & supposedly dead shark',
       'Disappeared 11 days earlier, probable homicide victim',
       'Put foot inside mouth of supposedly dead shark',
       'Hauling in net with shark in it',
       'Taken as he dived into the water',
       'Dived into sea from launch & bitten immediately',
       'Splashing in water ', "Sitting in 3' of water",
       'Yacht of Michael Howell capsized', 'Standing on his hands',
       'Hurricane & Tidal Wave', 'Catching a turtle',
       'On expedition filming a feature movie & standing on tripod',

**Let's dive into the age data**

In [136]:
data.age.unique()

array(['57', '11', '48', 'Unknown', '18', '52', '15', '12', '32', '10',
       '21', '34', '30', '60', '33', '29', '54', '41', '37', '56', '19',
       '25', '69', '38', '55', '35', '46', '45', '14', '40s', '28', '20',
       '24', '26', '49', '22', '7', '31', '17', '40', '13', '42', '3',
       '8', '50', '16', '82', '73', '20s', '68', '51', '39', '58', 'Teen',
       '47', '61', '65', '36', '66', '43', '60s', '9', '72', '59', '6',
       '27', '64', '23', '71', '44', '62', '63', '70', '18 months', '53',
       '30s', '50s', 'teen', '77', '74', '28 & 26', '5', '86', '18 or 20',
       '12 or 13', '46 & 34', '28, 23 & 30', 'Teens', '36 & 26',
       '8 or 10', '84', '\xa0 ', ' ', '30 or 36', '6½', '21 & ?', '75',
       '33 or 37', 'mid-30s', '23 & 20', ' 30', '7      &    31', ' 28',
       '20?', "60's", '32 & 30', '16 to 18', '87', '67', 'Elderly',
       'mid-20s', 'Ca. 33', '74 ', '45 ', '21 or 26', '20 ', '>50',
       '18 to 22', 'adult', '9 & 12', '? & 19', '9 months', '25 to 35',
       '23 & 26', '1', '(adult)', '33 & 37', '25 or 28',
       '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32', '50 & 30',
       '17 & 35', 'X', '"middle-age"', '13 or 18', '34 & 19', '33 & 26',
       '2 to 3 months', 'MAKE LINE GREEN', ' 43', '81', '"young"',
       '7 or 8', '78', '17 & 16', 'F', 'Both 11', '9 or 10', 'young',
       '36 & 23', '  ', 'A.M.', '?    &   14', '10 or 12', '31 or 33',
       '2½', '13 or 14'], dtype=object)

In [137]:
#Often the numerical value has a "s" at the end to mark it's year range. We will remove it to keep a numerical type. 

age_v1=[]
for e in data.age:
    age_v1.append(str(e.replace('s','').lower()))

In [138]:
#Through regex I will put as unknown all none numerical values which does not contains "teen"

import re

age_v2 = []
for e in age_v1:
    if 'teen' in e:
        age_v2.append('teen')
        

    elif re.search(r'^[0-9]+$', str(e)):
        age_v2.append(e)
    else:
        age_v2.append('unknown')

In [139]:
age_v3 = []
for e in age_v2:
    if e == 'unknown':
        age_v3.append('unknown')
    elif e == 'teen':
        age_v3.append('10s')
    elif int(e) < 10:
        age_v3.append('0s')
    elif int(e) <20:
        age_v3.append('10s')
    elif int(e) <30:
        age_v3.append('20s')
    elif int(e) <40:
        age_v3.append('30s')
    elif int(e) <50:
        age_v3.append('40s')
    elif int(e) <60:
        age_v3.append('50s')
    elif int(e) <70:
        age_v3.append('60s')
    elif int(e) <80:
        age_v3.append('70s')
    elif int(e) <90:
        age_v3.append('80s')
    else: 
        age_v3.append('90s')

In [140]:
data['Range_Age'] = age_v3
data.age.unique()

array(['57', '11', '48', 'Unknown', '18', '52', '15', '12', '32', '10',
       '21', '34', '30', '60', '33', '29', '54', '41', '37', '56', '19',
       '25', '69', '38', '55', '35', '46', '45', '14', '40s', '28', '20',
       '24', '26', '49', '22', '7', '31', '17', '40', '13', '42', '3',
       '8', '50', '16', '82', '73', '20s', '68', '51', '39', '58', 'Teen',
       '47', '61', '65', '36', '66', '43', '60s', '9', '72', '59', '6',
       '27', '64', '23', '71', '44', '62', '63', '70', '18 months', '53',
       '30s', '50s', 'teen', '77', '74', '28 & 26', '5', '86', '18 or 20',
       '12 or 13', '46 & 34', '28, 23 & 30', 'Teens', '36 & 26',
       '8 or 10', '84', '\xa0 ', ' ', '30 or 36', '6½', '21 & ?', '75',
       '33 or 37', 'mid-30s', '23 & 20', ' 30', '7      &    31', ' 28',
       '20?', "60's", '32 & 30', '16 to 18', '87', '67', 'Elderly',
       'mid-20s', 'Ca. 33', '74 ', '45 ', '21 or 26', '20 ', '>50',
       '18 to 22', 'adult', '9 & 12', '? & 19', '9 months', '25 to 35',
       '23 & 26', '1', '(adult)', '33 & 37', '25 or 28',
       '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32', '50 & 30',
       '17 & 35', 'X', '"middle-age"', '13 or 18', '34 & 19', '33 & 26',
       '2 to 3 months', 'MAKE LINE GREEN', ' 43', '81', '"young"',
       '7 or 8', '78', '17 & 16', 'F', 'Both 11', '9 or 10', 'young',
       '36 & 23', '  ', 'A.M.', '?    &   14', '10 or 12', '31 or 33',
       '2½', '13 or 14'], dtype=object)

In [141]:
data.Range_Age.unique()

array(['50s', '10s', '40s', 'unknown', '30s', '20s', '60s', '0s', '80s',
       '70s'], dtype=object)

In [142]:
data.columns

Index(['casenumber', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal_y_n_', 'time',
       'species', 'investigatororsource', 'pdf', 'hrefformula', 'href',
       'casenumber.1', 'casenumber.2', 'originalorder', 'unnamed22',
       'unnamed23', 'Activities_Count', 'Range_Age'],
      dtype='object')

**Cleaning Time column**

In [143]:
data.time.unique()

array(['18h00', '14h00  -15h00', '07h45', 'Unknown', 'Late afternoon',
       '17h00', '14h00', 'Morning', '15h00', '08h15', '11h00', '10h30',
       '10h40', '16h50', '07h00', '09h30', 'Afternoon', '21h50', '09h40',
       '08h00', '17h35', '15h30', '07h30', '19h00, Dusk', 'Night',
       '16h00', '15h01', '12h00', '13h45', '23h30', '09h00', '14h30',
       '18h30', '12h30', '16h30', '18h45', '06h00', '10h00', '10h44',
       '13h19', 'Midday', '13h30', '10h45', '11h20', '11h45', '19h30',
       '08h30', '15h45', 'Shortly before 12h00', '17h34', '17h10',
       '11h15', '08h50', '17h45', '13h00', '10h20', '13h20', '02h00',
       '09h50', '11h30', '17h30', '9h00', '10h43', 'After noon', '15h15',
       '15h40', '19h05', '1300', '14h30 / 15h30', '22h00', '16h20',
       '14h34', '15h25', '14h55', '17h46', 'Morning ', '15h49', '19h00',
       'Midnight', '09h30 / 10h00', '10h15', '18h15', '04h00', '14h50',
       '13h50', '19h20', '10h25', '10h45-11h15', '16h45', '15h52',
       '06h15', '14h40', '19h45', '10h10', '08h45', 'Evening', '12h10',
       '18h05', '11h41', '12h25', '17h51', '16h12', '12h45', '10h50',
       '14h15', '09h45', '06h45', '05h00', '03h30',
       'Sometime between 06h00 & 08hoo', '06h30', '17h20', '20h00',
       '16h40', '16h18', '11h10', 'Early afternoon', '17h50',
       '07h00 - 08h00', '18h15-18h30', '17h01', '09h57', '08h20', '17h58',
       '20h30', '15h19', '10h55', '15h55', '23h00', '12h40', '13h55',
       '16h05', '14h10', '15h20', '12h50', '14h45', '13h40', '13h24',
       '09h00 - 09h30', '0830', '11h40', '08h10', '15h56', '14h20',
       'Just before noon', '07h56', '1600', '17h17', '16h35', '09h05',
       '07h15', '07h20', '19h28', '12h38', '05h50', '15h50', '11h05',
       'Early morning', 'Dawn', '05h45', '13h25', '12h20', '13h26',
       '09h11', '12h15', '13h15', '18h20', '15h35', 'AM', '13h51', 'A.M.',
       '08h05', '19h15', '10h35', '15h44', 'Dusk', '21h00', 'Lunchtime',
       '15j45', '09h35', '10h27', '10h16', '0500', 'Before 07h00',
       '09h20', '10h00 -- 11h00', '12h05', '14h21', '18h50', '15h53',
       '"Just before 11h00"', '11h115', '13h42', '20h15', '12h39',
       '07h05', 'Sunset', '  ', '13h05', '11h50', '"Evening"',
       'Just before sundown', '17h55', '22h30', '17h15', '16h10',
       '11h30 ', '06h10', '16h15', 'Between 05h00 and 08h00', '07h08',
       '17h00 or 17h40', '03h00', '>08h00', '--', '12h02', '12h55',
       '16h14', '17h11', '00h30', '14h37', '10h07', '13h53', '11h55',
       '13h23', 'Just after 12h00', '02h30', '08h40', '11h56', '14h35',
       ' ', 'Early Morning', '07h50', 'Shortly after midnight', '14h25',
       '13h345', '\xa0 ', '06h47', '09h00 -10h00', '20h45 (Sunset)',
       'Late morning', 'P.M.', '18h40', '13h14', '13h06',
       'Shortly before 13h00', '12h34', '11h53', '8:04 pm', '12h46',
       '12h48', '17h42', '12h35', 'Possibly same incident as 2000.08.21',
       'After Dusk', '11h57', 'Noon', '17h40', '11h25', '18h25', '10h28',
       '09h15', '14h16', '09h55', '2 hours after Opperman', '15h05',
       '09h30 ', 'Mid afternoon', 'Mid morning', '11h48', '11h00 / 11h30',
       '07h19', '13h37', '11h06', '"Night"', '18h30?', '11h58', '11h51',
       '18h12', '07h10', '07h40', '12h33',
       '30 minutes after 1992.07.08.a', '>06h45', '15h06', '12h54',
       'Between 06h00 & 07h20', '16h55', '05h40', '<07h30', '21h30',
       '17h00 Sunset', 'Nightfall', 'X', '08h57', '18h30 (Sunset)',
       '06j00', '08h35', '10h22', '02h45', 'Prior to 10h37', 'Daybreak',
       '18h10', '>12h00', 'Mid-morning', '08h55', '16h30 or 18h00',
       'Just before dawn', ' 14h00', 'Daytime', '06h50', '01h00', 'Dark',
       '10h00 / 11h00', '"After lunch"', '07h32', '15h00 or 15h45',
       '>17h00', '19h00 / 20h00', '12h45 / 13h45', '14h00 - 15h00',
       'night', '03h45 - 04h00', '13h10', '09h30 / 15h30',
       '08h00 / 09h30', '19h35', '12h00 to 14h00', '13h35', 'Late night',
       '01h32', '10h30 or 13h30', '16h23', '15h00j', 'Midday.',
       '"After dark"', '10h00 or 14h00', '19h10', '16h25',
       '2 hrs before sunset', '18h15 to 21h30', '1500',
       '"shortly before dusk"', '>17h30', '>14h30',
       'Between 11h00 & 12h00', 'After 04h00',
       '11h01 -time of ship sinking', 'Ship aban-doned at 03h10', '19h55',
       'After dusk',
       'FATAL  (Wire netting installed at local beaches after this incident.)',
       '01h30', 'After midnight', 'Late afternon', '05h30', '08h58',
       '"Early evening"', 'Late Afternoon', '   ', 'Before daybreak',
       'dusk', 'Before 10h30', '06h00 -- 07h00', '01h50', '17h00-18h00',
       '19h00-20h00'], dtype=object)

In [144]:
time_v2 = []
for e in data.time:
    time_v2.append(str(e).replace('h',':'))

In [145]:
import re

# Initialize empty list to store cleaned data
time_v3 = []

# Iterate through each element in the data list
for e in time_v2:    
    match = re.search(r"^([0-9]{2}):([0-9]{2})$", e)
    if match:
        time_v3.append(e)
    else:
        time_v3.append("Unknown")

In [146]:
time_v4=[]
for e in time_v3:
    if e == 'Unknown':
        time_v4.append('Unknown')
    else :
        time_v4.append(str(e).replace(':','h')[:3])

In [147]:
data['Time_Range'] = time_v4

In [148]:
data.columns

Index(['casenumber', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal_y_n_', 'time',
       'species', 'investigatororsource', 'pdf', 'hrefformula', 'href',
       'casenumber.1', 'casenumber.2', 'originalorder', 'unnamed22',
       'unnamed23', 'Activities_Count', 'Range_Age', 'Time_Range'],
      dtype='object')

**Cleaning : Done. Now let's get into the analysis !**

In [149]:
'''
Our objectives based from the start is to analyse the following data:
- The place(s) with more attacks
- The most common activity(ies) which led to the attack
- The gender most attacked
- The average age of the victim
- The rate of death
'''

'\nOur objectives based from the start is to analyse the following data:\n- The place(s) with more attacks\n- The most common activity(ies) which led to the attack\n- The gender most attacked\n- The average age of the victim\n- The rate of death\n'

In [150]:
#There is 8 collumns that I will be using :

In [151]:
#1st: let's identify them and their percentage of Nulle Values

In [152]:
%run Formulas/src.py.ipynb

In [153]:
check_nan(data.year)
check_nan(data.Time_Range)
check_nan(data.sex)
check_nan(data.Range_Age)
check_nan(data.country)
check_nan(data.area)
check_nan(data.fatal_y_n_)
check_nan(data.Activities_Count) #result of 0% because the alternative category was named "others"

The ratio of unkowns is  0.0 %
The ratio of unkowns is  63.30041414463204 %
The ratio of unkowns is  8.935966868429436 %
The ratio of unkowns is  45.89041095890411 %
The ratio of unkowns is  0.7645747053201656 %
The ratio of unkowns is  7.167887862376553 %
The ratio of unkowns is  1.1309334182860784 %
The ratio of unkowns is  0.0 %

In [154]:
#Based this test, the time_range will be based on a sample less representative than the others.
#A part from time_range, the data represent at leat 50%+ of the lines.

In [155]:
#We are going to create a new data frame with our 8 relevant collumns: 

Data_Analysis = pd.DataFrame(data, columns=['year','Time_Range','sex','Range_Age','country','area','fatal_y_n_','Activities_Count'])

In [156]:
Data_Analysis.head()

,year,Time_Range,sex,Range_Age,country,area,fatal_y_n_,Activities_Count
0,2018.0,18h,F,50s,USA,California,N,Paddling
1,2018.0,Unknown,F,10s,USA,Georgia,N,other
2,2018.0,07h,M,40s,USA,Hawaii,N,surf
3,2018.0,Unknown,M,unknown,AUSTRALIA,NewSouthWales,N,surf
4,2018.0,Unknown,M,unknown,MEXICO,Colima,N,swimming

In [157]:
Data_Analysis.shape

(6278, 8)

In [158]:
Data_Analysis.describe().T

                   count unique       top   freq
year              6278.0  303.0    2015.0  143.0
Time_Range          6278     25   Unknown   3974
sex                 6278      4         M   5080
Range_Age           6278     10   unknown   2881
country             6278    205       USA   2225
area                6278    795   Florida   1035
fatal_y_n_          6278      3         N   4773
Activities_Count    6278      7  swimming   1934

In [159]:
## The most representative datas are:
'''
- 2015
- Male
- USA
- Florida
- Not Fatal
- Swimming
'''

'\n- 2015\n- Male\n- USA\n- Florida\n- Not Fatal\n- Swimming\n'

In [160]:
Data_Analysis.pivot_table(index='Time_Range',values = 'fatal_y_n_', aggfunc='count',margins=True)

            fatal_y_n_
Time_Range
00h                  1
01h                  6
02h                  7
03h                  8
04h                  5
05h                 10
06h                 34
07h                 80
08h                 90
09h                117
10h                174
11h                253
12h                198
13h                198
14h                232
15h                235
16h                239
17h                193
18h                127
19h                 50
20h                 29
21h                  5
22h                  5
23h                  8
Unknown           3974
All               6278

In [161]:
## The hour most fatal is between 15h and 16h. Seems like sharks like snaking.
Data_Analysis[Data_Analysis.fatal_y_n_=='Y'].pivot_table(index='Time_Range', values='fatal_y_n_', aggfunc='count' )

            fatal_y_n_
Time_Range
01h                  2
02h                  3
03h                  2
04h                  1
05h                  3
06h                  6
07h                  8
08h                 11
09h                 25
10h                 28
11h                 35
12h                 31
13h                 29
14h                 39
15h                 48
16h                 41
17h                 27
18h                 16
19h                  5
20h                  4
21h                  3
22h                  1
23h                  1
Unknown           1065

In [162]:
## The hour with most non fatal attacks is between 11h and 12h. Seems that sharks eat at German time.
Data_Analysis[Data_Analysis.fatal_y_n_=='N'].pivot_table(index='Time_Range', values='fatal_y_n_', aggfunc='count' )

            fatal_y_n_
Time_Range
00h                  1
01h                  4
02h                  4
03h                  6
04h                  4
05h                  7
06h                 28
07h                 72
08h                 79
09h                 91
10h                146
11h                218
12h                167
13h                169
14h                193
15h                187
16h                197
17h                166
18h                110
19h                 45
20h                 25
21h                  2
22h                  4
23h                  7
Unknown           2841

In [163]:
##Men have much more incidents than women.
Data_Analysis.pivot_table(index = 'sex', values = 'fatal_y_n_',aggfunc='count')

         fatal_y_n_
sex
F               636
M              5080
M                 1
Unknown         561

In [164]:
##Women, in proportion, are less killed than men during attacks
print("Male percentage of fatal accident =",1211/5080*100,"%")
print("Femal percentage of fatal accident =",110/636*100,"%")
Data_Analysis[Data_Analysis.fatal_y_n_=='Y'].pivot_table(index = 'sex', values = 'fatal_y_n_',aggfunc='count')

Male percentage of fatal accident = 23.838582677165356 %
Femal percentage of fatal accident = 17.29559748427673 %

         fatal_y_n_
sex
F               110
M              1211
Unknown         113

In [165]:
## the teens are the most attacked. Closely followed by 20s.
Data_Analysis.pivot_table(index='Range_Age',values="fatal_y_n_" , aggfunc='count')

           fatal_y_n_
Range_Age
0s                113
10s              1098
20s               997
30s               538
40s               352
50s               195
60s                78
70s                21
80s                 5
unknown          2881

In [166]:
##Teens are also the most killed followed closely by 20s.
Data_Analysis[Data_Analysis.fatal_y_n_=="Y"].pivot_table(index='Range_Age',values="fatal_y_n_" , aggfunc='count')

           fatal_y_n_
Range_Age
0s                 16
10s               201
20s               196
30s                92
40s                48
50s                34
60s                19
70s                 6
80s                 1
unknown           821

In [167]:
Data_Analysis.head(1)

,year,Time_Range,sex,Range_Age,country,area,fatal_y_n_,Activities_Count
0,2018.0,18h,F,50s,USA,California,N,Paddling

In [168]:
##the most attacked country is USA with 2225 attacks.
Data_Analysis.country.describe()

count     6278
unique     205
top        USA
freq      2225
Name: country, dtype: object

In [169]:
#The most attacked zone is Florida with 1035 attacks
Data_Analysis.area.describe()

count        6278
unique        795
top       Florida
freq         1035
Name: area, dtype: object

In [170]:
#Outside USA, the most attacked area is New South Wales which is in Australia.
Data_Analysis.area[Data_Analysis.country != 'USA'].describe()

count              4053
unique              759
top       NewSouthWales
freq                484
Name: area, dtype: object

In [171]:
#The swimmers are the most attacked. 
Data_Analysis.pivot_table(index = 'Activities_Count', values='fatal_y_n_', aggfunc= 'count')

                  fatal_y_n_
Activities_Count
Paddling                  34
boating                  224
falling                   80
fishing                 1058
other                   1691
surf                    1257
swimming                1934

In [172]:
# The swimmers are also the more killed.
# Intersting to observe how surfers tend to escape the death in bigger proportion than the rests.

print('percentage of surfers killed by the attack',74/1257*100,'%' )
Data_Analysis[Data_Analysis.fatal_y_n_=='Y'].pivot_table(index = 'Activities_Count', values='fatal_y_n_', aggfunc= 'count')

percentage of surfers killed by the attack 5.88703261734288 %

                  fatal_y_n_
Activities_Count
Paddling                   3
boating                   76
falling                   64
fishing                  144
other                    418
surf                      74
swimming                 655

In [173]:
#The percentage of death is 30%.
print('the percentage of death is ',1434/4773*100,'%')
Data_Analysis.groupby(['fatal_y_n_']).count()

the percentage of death is  30.043997485857947 %

            year  Time_Range   sex  Range_Age  country  area  Activities_Count
fatal_y_n_
N           4773        4773  4773       4773     4773  4773              4773
UNKNOWN       71          71    71         71       71    71                71
Y           1434        1434  1434       1434     1434  1434              1434

In [180]:
#Confirming that 2015 is the mode.
from collections import Counter
data = Counter(list(Data_Analysis.year))
data.most_common()   
data.most_common(1)

[(2015.0, 143)]

**Export**

In [174]:
Data_Analysis.to_csv('sharksAnalysis.csv', index=False)

In [175]:
data.to_csv('Shars_Clean.csv', index=False)

In [176]:
Data_Analysis.head()

,year,Time_Range,sex,Range_Age,country,area,fatal_y_n_,Activities_Count
0,2018.0,18h,F,50s,USA,California,N,Paddling
1,2018.0,Unknown,F,10s,USA,Georgia,N,other
2,2018.0,07h,M,40s,USA,Hawaii,N,surf
3,2018.0,Unknown,M,unknown,AUSTRALIA,NewSouthWales,N,surf
4,2018.0,Unknown,M,unknown,MEXICO,Colima,N,swimming